{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
            	<div class="row">
            		<div class="col-md-6">
		                <h4 class="title">Texas Elections</h4>
		                <p class="category">2002-Present</p>
		            </div>
		            <div class="col-md-6 pull-right" style="text-align: right">
		            	<a href="/newelectioncycle/" class="btn btn-primary" role="button">New Election Cycle</a>
		            </div>
		        </div>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-striped">
                    <thead>
                        <th>Year</th>
                    	<th>Type</th>
                    	<th>Date</th>
                        <th></th>
                    </thead>
                    <tbody>

                        {% for election in elections %}

                        <tr>
                        	<td>{{ election.electionYear }}</td>
                        	<td>{{ election.electionType }}</td>
                        	<td>{{ election.electionDate }}</td>
                            <td>
                                <a href="/elections/cycles/{{election.id}}/report">Report</a>
                            </td>
                        </tr>
 
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

{% endblock %}