{% extends 'base2.html' %}
{% load staticfiles %}
{% block content %}
<div class = 'container'>
<div class = 'election-page-header'>
	<h2>{{officeInfo.officeName}}</h2>
	<h3>Election Results</h3>
</div>

{% for key, value in electionResults %}
<h4 class = 'election-table-header'>{{key}}</h4>
<div class = "table-responsive">
	<table class = "table table-striped">
	{% for l in value %}
		{% if l.0.party == 'REP' and forloop.counter == 1 %}
			<tr class = 'repwinner'>
		{% elif l.0.party == 'DEM' and forloop.counter == 1 %}
			<tr class = 'demwinner'>
		{% else %}
			<tr>
		{% endif %}
		{% for item in l%}
			<td>{{item}}</td>
		{% endfor %}
		</tr>
	{% endfor %}
	</table>
</div>
{% endfor %}

<div class="row">
	<div class = 'col-lg-12 center-block text-center'>
    <div class="card">
        <div class="header" style="border-bottom: 1px solid #e3dfd8;">
			<h3>Election Results</h3>
        </div>
        <div class="content">
            <div id="result-chart"></div>
        </div>
    </div>
   </div>
</div>
  
<div class="row">  
	<div class = "col-lg-12 center-block text-center">
    <div class="card">
        <div class="header" style="border-bottom: 1px solid #e3dfd8;">
			<h3>Voter Turnout</h3>
        </div>
        <div class="content">
        	<div class = "m-2">
            	<div id="demog-chart"></div>
	        </div>
        </div>
    </div>
</div>
</div>

<div id = 'leaflet-map' class = 'leaflet-map'>
</div>

<h2>Explore District Demographic Distributions</h2>
<div class = 'row button'>
	  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Demographic Variables
    <span class="caret"></span></button>
    <ul class="dropdown-menu" >
    <div id = 'map-dropdown'>
     </div>
    </ul>
  </div>
</div>



<div class = 'map-wrapper' id = 'demog-map'>
	<div class = 'map-header'></div>
	<svg id = 'svg_demog-map'></svg>
	<div class = 'tooltip' id = 'tooltip_demog-map'></div>
</div>
</container>

	{% endblock content %}

	{% block scripts %}
	<!-- leaflet script -->
	<script src="https://unpkg.com/leaflet@1.1.0/dist/leaflet.js"
   integrity="sha512-mNqn2Wg7tSToJhvHcqfzLMU6J4mkOImSPTxVZAdo+lcPlk+GhZmYgACEe0x35K7YzW1zJ7XyJV/TT1MrdXvMcA=="
   crossorigin=""></script>
   <script src = "{% static 'js/linechart.js' %}"></script>

	<script>

	$(document).ready(function() {


	var district_id = '{{office_id}}';
	var officeType_id = '{{officeType_id}}'

		
	//second chart
	var demogchart_url = '/elections/ajax/district_demog_chart/' + district_id + '/';
	var resultchart_url = 'elections/ajax/district_result_chart/'+ district_id + '/';
	
	


	
	


	var result_url = '/elections/ajax/maps/precinctloaddistrict/'+district_id+'/';
	var static_test_url = '/static/geodata/precincts.json';
	var precinct_json;

	function setMaps(){
		//height and width of SVG elements!
		var width = 600;
		var height = 800;

		///this is SVG creation, needs to move to data specific function:


		var colorSets = {red : ['#fee0d2','#de2d26'] , green : ['#e5f5e0', '#31a354'], purple : ['#efedf5','#756bb1'], blue : ['#deebf7', '#3182bd'], orange : ['#ffffd4','#d95f0e'], grey : ['#f0f0f0', '#636363']}

		var titles = {
				"pop_hisp": "Hispanic Population by Precinct, Percent of Total Population",
				"pop_anglo": "Anglo Population by Precinct, Percent of Total Population",
				"pop_other": "Population by Precinct, Not Hispanic, Anglo, or Black, Percent of Total Population",
				"pop_total": "Total Population by Precinct",
				"vap_total": "Voting Age Population by Precinct",
				"pop_black": "Black Population by Precinct, Percent of Total Population",
				"pop_blhisp": "Black and Hispanic Population by Precinct, Percent of Total Population",
				"vap_anglo": "Voting Age Population by Precinct, Anglo, Percent of Voting Age Population",
				"vap_hisp": "Voting Age Population by Precinct, Hispanic, Percent of Voting Age Population",
				"vap_blhisp": "Voting Age Population by Precinct, Black and Hispanic, Percent of Voting Age Population",
				"vap_black": "Voting Age Population by Precinct, Black, Percent of Voting Age Population",
				"vap_other": "Voting Age Population by Precinct, Not Hispanic, Anglo, or Black, Percent of Voting Age Population",
				'voterReg__sum': "Total Voter Registration",
				'turnOut__sum': "Total TurnOut",
				'topVote__sum': 'Total TopVote'
				};

		d3.json(result_url, function(error, precincts){ //will need to add + district_id to make this district specific		
			if (error) return console.error(error);

			console.log(precincts);


			//set projection and draws path to hand to SVC element
			var path = d3.geoPath()
				.projection(
					d3.geoIdentity()
						 .fitSize([width, height], precincts))

			
			//BEGIN VARIABLE SPECIFIC CODE

			//extent function defines the upper and lower ranges of the properties.
			function draw_demographic_map(datapoint, colors) {  


				var datapoint_id = '#demog-map',
					map_header_id = datapoint_id + " .map-header",
					svg_selector = '#svg_demog-map',
					tooltip_selector = '#tooltip_demog-map';

				console.log('execution central!!')
				
				d3.select(map_header_id).html('<h3>' + titles[datapoint] + '<h3>');


				var svg = d3.select(svg_selector) //DIV ID
					.attr('width', width)
					.attr('height', height)
					.attr('transform', 'scale(1,1)'); //flip the y axis. SVG interperets our maps as upside down.
				var svgmap = svg.append('g').attr('transform', 'translate(0,60)');

				var tooltip_div = d3.select(tooltip_selector)			
				    .style("opacity", 1);


				var extent = d3.extent(precincts.features.map(f => f.properties[datapoint])); //extent parameter call
				var colorrange = colors; //THIS IS EXPECT A LIST OF COLORS WITH LENGTH 2

				var color = d3.scalePow()
					.exponent((1/3))
					.domain(extent) 
		    		.range(colorrange);// 

				svgmap.selectAll('path')
					.data(precincts.features)
					.enter().append('path')
					.attr('d', path)
					.attr('class', 'precinct')
					.attr('id', function (d) { return 'pct'.concat(d.properties.PCTKEY); })
					.style('fill', function (d) { return color(d.properties[datapoint]); }) //DRAW THE COLORS.
					.on("mouseover", function(d) {
						d3.select(this).style('fill','red');
						tooltip_div.transition()
							.duration(200)
							.style("opacity", .9);
						tooltip_div.html('<p><strong>Precinct id:</strong></br>'+ d.properties.PCTKEY + "</br><p><strong>" + titles[datapoint] + "</strong></br>" + d.properties[datapoint] + "</p>") //data id call
							// .style("left", (d3.event.pageX) + "px")
							// .style("top", (d3.event.pageY - 5) + "px");   
							})
					.on("mouseout", function(d) {
						tooltip_div.transition()
							.duration(500)
							.style("opacity", 0);
						d3.select(this).style('fill', function (d) { return color(d.properties[datapoint]); }); ///data id call
					});	

					drawMapLegend(svg, extent, datapoint, colors);


			} 


			

			//This is the same function as above, but accepts the differently nest arguments.
			function draw_election_data_map(year, datapoint, colors) { 
			//this just chooses the divs. What the fuck was I thinking when I wrote this? terrible binding architecture.
				var datapoint_selector = 'demog-map',
					datapoint_id = '#demog-map',
					map_header_id = datapoint_id + " .map-header",
					svg_selector = '#svg_demog-map',
					tooltip_selector = '#tooltip_demog-map';
				
				d3.select(map_header_id).html('<h3>' + titles[datapoint] + ': <h3>');

				var svg = d3.select(svg_selector) //DIV ID
					.attr('width', width)
					.attr('height', height)
					.attr('transform','scale(1,1)');

				var tooltip_div = d3.select(tooltip_selector)			
				    .style("opacity", 1);


				var extent = d3.extent(precincts.features.map(f => f.properties.electionData[year][datapoint])); //extent parameter call
				var colorrange = colors; //THIS IS EXPECT A LIST OF COLORS WITH LENGTH 2

				var color = d3.scalePow()
					.exponent((1))
					.domain(extent) 
		    		.range(colorrange);// 

		    	var yearText = d3.select(map_header_id).append('h2')

				svg//.append('g')
					.selectAll('path')
					.data(precincts.features)
					.enter().append('path')
					.attr('d', path)
					.attr('class', 'precinct')
					.attr('id', function (d) { return 'pct'.concat(d.properties.PCTKEY); })
					.on("mouseover", function(d) {
						d3.select(this).style('fill','red');
						tooltip_div.transition()
							.duration(200)
							.style("opacity", .9);
						tooltip_div.html('<p><strong>Precinct id:</strong></br>'+ d.properties.PCTKEY + "</br><p><strong>" + titles[datapoint] + "</strong></br>" + d.properties.electionData[year][datapoint] + "</p>") //data id call
							// .style("left", (d3.event.pageX) + "px")
							// .style("top", (d3.event.pageY - 5) + "px");   
							})
					.on("mouseout", function(d) {
						tooltip_div.transition()
							.duration(500)
							.style("opacity", 0);
						d3.select(this).style('fill', function (d) { return color(d.properties.electionData[year][datapoint]); }); ///data id call
					});

				precinct_paths = svg.selectAll('.precinct');

				shiftColors();	
				
				// precinct_paths.style('fill', 'red');

			function shiftColors(){	
				precinct_paths
					.transition()
					.on('start', function repeat(){
						d3.active(this)
							.style('fill', function (d) { return color(d.properties.electionData['2002'][datapoint]); })
							.transition().delay(1000)
							.style('fill', function (d) { return color(d.properties.electionData['2004'][datapoint]); })
							.transition().delay(1000)
							.style('fill', function (d) { return color(d.properties.electionData['2006'][datapoint]); })
							.transition().delay(1000)
							.style('fill', function (d) { return color(d.properties.electionData['2008'][datapoint]); })
							.transition().delay(1000)
							.style('fill', function (d) { return color(d.properties.electionData['2010'][datapoint]); })
							.transition().delay(1000)
							.style('fill', function (d) { return color(d.properties.electionData['2012'][datapoint]); })
							.transition().delay(1000)
							.style('fill', function (d) { return color(d.properties.electionData['2014'][datapoint]); })
							.transition().delay(1000)
							.style('fill', function (d) { return color(d.properties.electionData['2016'][datapoint]); })
						.on('start', repeat)});
				yearText
					.transition()
					.on('start', function repeat(){
						d3.active(this)
							.text('2002')
							.transition().delay(1000)
							.text('2004')
							.transition().delay(1000)
							.text('2006')
							.transition().delay(1000)
							.text('2008')
							.transition().delay(1000)
							.text('2010')
							.transition().delay(1000)
							.text('2012')
							.transition().delay(1000)
							.text('2014')
							.transition().delay(1000)
							.text('2016')
							.transition().delay(1000)
						.on('start', repeat)});
					}
				
				

				drawMapLegend(svg, extent, datapoint, colors);


			}
			//svg is element to attach to, which should probably be an svg
			//entext is the the extent of domain, should be computed in each draw function
			//
			function drawMapLegend(svg, extent, datapoint, colors){  

				var legendwidth = 200,
					legendheight = 15;

				var legend = svg.append("defs")
					.append("svg:linearGradient")
					.attr("id", "gradient" + datapoint)
					.attr("x1", "0%")
					.attr("y1", "100%")
					.attr("x2", "100%")
					.attr("y2", "100%")
					.attr("spreadMethod", "pad");

				legend
					.append("stop")
					.attr("offset", "0%")
					.attr("stop-color", colors[0])
					.attr("stop-opacity", 1);

				legend
					.append("stop")
					.attr("offset", "100%")
					.attr("stop-color", colors[1])
					.attr("stop-opacity", 1);

				svg
					.append("rect")
					.attr("width", legendwidth)
					.attr("height", legendheight)
					.style("fill", "url(#gradient" + datapoint + ")")
					.attr("transform", "translate(300,42)");

				var x = d3.scalePow().exponent(1/3).range([0, legendwidth]).domain(extent);

				var xAxis = d3.axisTop().scale(x).ticks(5);

				svg.append("g")
					.attr("class", "x axis")
					.attr("transform", "translate(300,38)")
					.call(xAxis)
				
				svg.selectAll('.tick text')
					.attr("dy", "1.5em")
					.attr("dx", "2em")
					.attr("transform", "rotate(-75), scale(1,1)")
					.style("text-anchor", "beginning")
			}//end legend function 

		function leafletMap(divid) {


			var geojsonobj = precincts;

			function onEachFeature(feature, layer) {
			    if (feature.properties && feature.properties.PCTKEY) {
			        layer.bindPopup(feature.properties.PCTKEY);
			    }
			}

			var lmap = L.map(divid).setView([0,0], 3);
			geojsonLayer = L.geoJSON(geojsonobj, { 
				onEachFeature : onEachFeature
			}).addTo(lmap);
			b = (geojsonLayer.getBounds());
			lmap.fitBounds(b);
			
			minz = lmap.getZoom();

			var myStyle = {
			    "color": "#ff7800",
			    "weight": 5,
			    "opacity": 0.65
			};

					
			L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
		    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
		    maxZoom: 13,
		    minZoom: minz,
		    id: 'mapbox.light',
		    accessToken: 'pk.eyJ1IjoibW9yZ2FuaGFydGxleSIsImEiOiJjajU4am0yNnUxMjRpMndwM2NqMWp6M3V2In0.wKda7PU6J78Vz45le6qQ3Q'
			}).addTo(lmap);


		}//leafletMap()
	leafletMap('leaflet-map');
	draw_demographic_map("vap_anglo", colorSets.orange); //draw default map



			var keys = Object.keys(precincts.features[1].properties)

			keys = keys.filter(function (x) {
				return x !== 'PCTKEY';
			});

			var keysreturn = [];

			//this whose section is about looping through the nested JSON to populate a menu that allows the user to choose which demographic map they want to see. Then we associate an action with each of those buttons. 


				for (i=0; i < keys.length; i++) {
				var $divid = keys[i].toString();
				keysreturn.push($divid);
				if ($divid == "electionData") {
					edKeys1 = Object.keys(precincts.features[1].properties.electionData);
					//were only grabbing the first element.
					edKeys2 = Object.keys(precincts.features[1].properties.electionData[edKeys1[0]]);
					edKeys2 = edKeys2.filter(function (x) {
						return x !== 'election__electionDate'
						&& x !== 'election__electionType'
						&& x !== 'election__electionYear'
						&& x !== 'precinct__pctkey';
					});
					for (k = 0; k < edKeys2.length; k++){ 
						var $eddivid2 = edKeys2[k].toString();
						keysreturn.push($eddivid2);
					}
					
				}
			}
			
			for (i=0; i<keysreturn.length; i++) {
				dropdown_element(keysreturn[i]);
			}


			var randomProperty = function (obj) {
			    var keys = Object.keys(obj)
			    return obj[keys[ keys.length * Math.random() << 0]];
			};

			function map_trigger(datapoint) {
				var color = randomProperty(colorSets);
				draw_demographic_map(datapoint, color); 
			};

			function map_trigger_election_data(datapoint) {
				var color = randomProperty(colorSets);
				draw_election_data_map('2012', datapoint, color);
			};

			function dropdown_element(elem) {
				try {
					var title = titles[elem];
				} 
				catch (e) {
					var title = elem.toString();
					console.error(e);
				}
				var html = '<li><a id ="'+ elem +'" class = "map-trigger" href="#">' + title +'</a></li>'
				$('#map-dropdown').append(html);
			};

			$('.map-trigger').on('click', function() {
				event.preventDefault();
				var datapoint = this.id;
				console.log(datapoint);
				$('.map-header, #svg_demog-map, #tooltip_demog-map').empty();
				if (datapoint.substr(datapoint.length - 4) == '_sum') {
					map_trigger_election_data(datapoint);
				} else {
					map_trigger(datapoint);
				}
				return false;
			})


		}); //json.load	
	}//setMaps()



//args: dataurl, div, xdata, ydata1, ydata2;
	lineChart(demogchart_url, 'demog-chart', 'electionYear', 'turnout', 'voterRegistration');
	lineChart(resultchart_url, 'result-chart', 'electionYear', 'DEM', 'REP');

	setMaps();



	});//document.ready
		

	</script>


                

	{% endblock scripts %}






#vap_blhisp

<a id="vap_blhisp" class="map-trigger" href="#">Voting Age Population by Precinct, Black and Hispanic, Percent of Voting Age Population</a>


