{% extends 'base.html' %}

{% block content %}

<h3>Which election would you like to look at?</h3>


	<div class = "table-responsive">
		<table class = 'table table-striped'>
			<tbody>	
				{% for election in elections %}
				<tr>
					<td>
						<a href = '{{election.id}}'>{{election.electionType}}, {{election.electionYear}} ({{election.electionDate}})</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock content%}




