<!DOCTYPE html>
<head>
	<title>District Explorer</title>
</head>
<body>
	<h1>Have yourself this massive blob of data and a great day!</h1> 
	<h3>office: {{officeInfo.officeName}}</h3>
	<h3>Results:</h3>
	<h3>election: {{electionInfo.electionYear}}, {{electionInfo.electionType}}</h3>
	{% for result in electionResults %}
	<p>{{result.party}}: {{result.voteCount}}
	{% endfor %}

	<h3>Here's all the precincts in the district:</h3>
	<p>
	{% for precinct in precincts%}
	{{precinct.precinct__pctkey}},
	{% endfor %}
	</p>

</body> 
