{% extends 'base.html' %}

{% block content %}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Counties</h4>
            </div>
            <div class="content">
				<table class='table'>
					<thead>
						<tr>
							<th>
								Which county would you like to look at?
							</th>
						</tr>
					</thead>
					<tbody>
						{% for county in counties %}
						<tr>
							<td>
								<a href = '{{county.fips}}'>{{county.countyName}}</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>




{% endblock content %}