{% extends 'base.html' %}

{% block content %}


<div class = "container">
	<table class = 'table table-striped explorer'>
		<thead>
			<tr>
				<th>
					Which office would you like to look at?
				</th>
			</tr>
		</thead>
		<tbody>
		{% for officeType in officeTypes %}
			<tr>
				<td>
					<a href = '{{officeType.id}}'>{{officeType.officeType}}</a>
				</td>
			</tr>
			{% endfor %}
		<tbody>
		</div></a>
	</table>
</div>

{% endblock content%}