{% extends 'base.html' %}

{% block content %}


<h3>How would you like to start your search?</h3>
<div class="card">
    <div class="header">
        <h4 class="title"><a href = 'county'>Explore by County</a></h4>
    </div>
</div>
<div class="card">
    <div class="header">
        <h4 class="title"><a href = 'district'>Explore by District</a></h4>
    </div>
</div>
<div class="card">
    <div class="header">
        <h4 class="title"><a href = 'election'>Explore by Election</a></h4>
    </div>
</div>

{% endblock content %}