{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Offices</h4>
                <h6 class="category">{{ countyName }} County</h6>
            </div>
            <div class="content">
				<table class='table'>
					<thead>
						<tr>
							<th>
								Office
							</th>
						</tr>
					</thead>
					<tbody>
						{% for office in offices %}
						<tr>
							<td><a href = "/elections/explore/county/officeview/{{county_id}}/{{office.office__id}}/">{{office.office__officeName}}</a></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="header">
				<h4 class="title">Top of Ticket Election Results</h4>
				<h6 class="category">Presidential/Gubernatorial</h6>
			</div>
			<div class="content">
				<div id="result-chart">
		</div>
	</div>
</div>
  
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="header">
				<h4 class="title">Voter Turnout</h4>
				<h6 class="category">Presidential/Gubernatorial</h6>
			</div>
			<div class="content">
				<div class = "m-2">
					<div id="demog-chart">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="header">
				<h4 class="title">Precincts</h4>
				<h6 class="category">Census Demographics </h6>
			</div>
			<div class="content">
				<div class = "table-responsive">
					<table class = 'table table-striped'>
						<thead>
							<tr>
								<td>Precinct</td>
								<td>Population</td>
								<td>Hispanic Population</td>
								<td>VoterReg</td>
								<td>TurnOut</td>
								<td>TopVote</td>
							</tr>
						</thead>
						<tbody>
						{% for precinct in electionPrecincts %}
							<tr>
								<td>{{ precinct.precinct.pctkey }}</td>
								<td>{{ precinct.population }}</td>
								<td>{{ precinct.hisPop}}</td>
								<td>{{ precinct.voterReg }}</td>
								<td>{{ precinct.turnOut }}</td>
								<td>{{ precinct.topVote }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div id = "leaflet-map"></div>
<div id = "maps"></div>


{% endblock content %}



{% block scripts %}
<script src = "{% static 'js/linechart.js' %}"></script>
<script src="https://unpkg.com/leaflet@1.1.0/dist/leaflet.js"
   integrity="sha512-mNqn2Wg7tSToJhvHcqfzLMU6J4mkOImSPTxVZAdo+lcPlk+GhZmYgACEe0x35K7YzW1zJ7XyJV/TT1MrdXvMcA=="
   crossorigin=""></script>
<script>

	$(document).ready(function() {


	var county_id = '{{county_id}}';
	

	//second chart
	var demogchart_url = '/elections/ajax/county_demog_chart/' + county_id + '/';
	var resultchart_url = 'elections/ajax/county_result_chart/'+ county_id + '/';


	var result_url = '/elections/ajax/maps/precinctload/'+county_id+'/';


	function setMaps(){
		//height and width of SVG elements!
		var width = 600;
		var height = 660;

		///this is SVG creation, needs to move to data specific function:


		var colorSets = {red : ['#fee0d2','#de2d26'] , green : ['#e5f5e0', '#31a354'], purple : ['#efedf5','#756bb1'], blue : ['#deebf7', '#3182bd'], orange : ['#ffffd4','#d95f0e'], grey : ['#f0f0f0', '#636363']}

		var titles = {
				"pop_hisp": "Hispanic Population by Precinct, Percent of Total Population",
				"pop_anglo": "Anglo Population by Precinct, Percent of Total Population",
				"pop_other": "Population by Precinct, Not Hispanic, Anglo, or Black, Percent of Total Population",
				"pop_total": "Total Population by Precinct",
				"vap_total": "Voting Age Population by Precinct",
				"pop_black": "Black Population by Precinct, Percent of Total Population",
				"pop_blhisp": "Black and Hispanic Population by Precinct, Percent of Total Population",
				"vap_anglo": "Voting Age Population by Precinct, Anglo, Percent of Voting Age Population",
				"vap_hisp": "Voting Age Population by Precinct, Hispanic, Percent of Voting Age Population",
				"vap_blhisp": "Voting Age Population by Precinct, Black and Hispanic, Percent of Voting Age Population",
				"vap_black": "Voting Age Population by Precinct, Black, Percent of Voting Age Population",
				"vap_other": "Voting Age Population by Precinct, Not Hispanic, Anglo, or Black, Percent of Voting Age Population",
				'voterReg__sum': "Total Voter Registration",
				'turnOut__sum': "Total TurnOut",
				'topVote__sum': 'Total TopVote'
				};

		d3.json(result_url, function(error, precincts){ //will need to add + district_id to make this district specific		
			if (error) return console.error(error);

			console.log(precincts);

			var keys = Object.keys(precincts.features[1].properties)

			keys = keys.filter(function (x) {
				return x !== 'PCTKEY';
			});


			//this whose section is about looping through the nested JSON to create the divs in the page based on what is there
			//it's kind of pointless given that we have to call the functions manually based on the divs later in this code.
			//and we have manual titles. So we could just throw this in the html. But whatever. #amateurhour


			for (i=0; i < keys.length; i++) {
				var $divid = keys[i].toString(),
					$div = "<div class = \'map-wrapper\' id =" + $divid + "><div class = \'map-header\'></div><svg id = \'svg_" + $divid + "\'></svg><div class = \'tooltip\' id = \'tooltip_" + $divid + "\'></div></div>";
				if ($divid == "electionData") {
					edKeys1 = Object.keys(precincts.features[1].properties.electionData);
					for (j = 0; j < edKeys1.length; j++){
						var $eddivid1 = $divid + '-' + edKeys1[j].toString();
							$eddiv1 = "<div id='" + $eddivid1 +"' class = 'year-wrapper'><h2>" + edKeys1[j].toString() + "</div>";
						$('#maps').append($eddiv1);
						edKeys2 = Object.keys(precincts.features[1].properties.electionData[edKeys1[j]]);
						edKeys2 = edKeys2.filter(function (x) {
							return x !== 'election__electionDate'
							&& x !== 'election__electionType'
							&& x !== 'election__electionYear'
							&& x !== 'precinct__pctkey';
						});
						for (k = 0; k < edKeys2.length; k++){ 
							var $eddivid2 = $eddivid1 + '-' + edKeys2[k].toString(),
								$eddiv2 = "<div class = \'map-wrapper\' id =" + $eddivid2 + "><div class = \'map-header\'></div><svg id = \'svg_" + $eddivid2 + "\'></svg><div class = \'tooltip\' id = \'tooltip_" + $eddivid2 + "\'></div></div>";
							$('#' + $eddivid1).append($eddiv2);
						}}}
				else {
					$('#maps').append($div);
				}

			}
			

			//set projection and draws path to hand to SVC element
			var path = d3.geoPath()
				.projection(
					d3.geoIdentity()
						 .fitSize([width, height], precincts))

			
			//BEGIN VARIABLE SPECIFIC CODE

			//extent function defines the upper and lower ranges of the properties.
			function draw_demographic_map(datapoint, colors) {
				var datapoint_id = '#' + datapoint.toString(),
					map_header_id = datapoint_id + " .map-header",
					svg_selector = '#svg_' + datapoint.toString(),
					toolip_selector = '#tooltip_' + datapoint.toString();
				
				d3.select(map_header_id).html('<h3>' + titles[datapoint] + '<h3>');


				var svg = d3.select(svg_selector) //DIV ID
					.attr('width', width)
					.attr('height', height)
					.attr('transform', 'scale(1,-1)'); //flip the y axis. SVG interperets our maps as upside down.
				var svgmap = svg.append('g').attr('transform', 'translate(0,60)');

				var tooltip_div = d3.select(toolip_selector)			
				    .style("opacity", 1);


				var extent = d3.extent(precincts.features.map(f => f.properties[datapoint])); //extent parameter call
				var colorrange = colors; //THIS IS EXPECT A LIST OF COLORS WITH LENGTH 2

				var color = d3.scalePow()
					.exponent((1/3))
					.domain(extent) 
		    		.range(colorrange);// 

				svgmap.selectAll('path')
					.data(precincts.features)
					.enter().append('path')
					.attr('d', path)
					.attr('class', 'precinct')
					.attr('id', function (d) { return 'pct'.concat(d.properties.PCTKEY); })
					.style('fill', function (d) { return color(d.properties[datapoint]); }) //DRAW THE COLORS.
					.on("mouseover", function(d) {
						d3.select(this).style('fill','red');
						tooltip_div.transition()
							.duration(200)
							.style("opacity", .9);
						tooltip_div.html('<p><strong>Precinct id:</strong></br>'+ d.properties.PCTKEY + "</br><p><strong>" + titles[datapoint] + "</strong></br>" + d.properties[datapoint] + "</p>") //data id call
							// .style("left", (d3.event.pageX) + "px")
							// .style("top", (d3.event.pageY - 5) + "px");   
							})
					.on("mouseout", function(d) {
						tooltip_div.transition()
							.duration(500)
							.style("opacity", 0);
						d3.select(this).style('fill', function (d) { return color(d.properties[datapoint]); }); ///data id call
					});	

					drawMapLegend(svg, extent, datapoint, colors);


			} 


			

			//This is the same function as above, but accepts the differently nest arguments.
			function draw_election_data_map(year, datapoint, colors) {
				var datapoint_selector = 'electionData-' + year  + '-' + datapoint.toString(),
					datapoint_id = '#' + datapoint_selector
					map_header_id = datapoint_id + " .map-header",
					svg_selector = '#svg_' + datapoint_selector,
					toolip_selector = '#tooltip_' + datapoint_selector;
				
				d3.select(map_header_id).html('<h3>' + titles[datapoint] + ': <h3>');

				var svg = d3.select(svg_selector) //DIV ID
					.attr('width', width)
					.attr('height', height)
					.attr('transform','scale(1,-1)');

				var tooltip_div = d3.select(toolip_selector)			
				    .style("opacity", 1);


				var extent = d3.extent(precincts.features.map(f => f.properties.electionData[year][datapoint])); //extent parameter call
				var colorrange = colors; //THIS IS EXPECT A LIST OF COLORS WITH LENGTH 2

				var color = d3.scalePow()
					.exponent((1))
					.domain(extent) 
		    		.range(colorrange);// 

		    	var yearText = d3.select(map_header_id).append('h2')

				svg//.append('g')
					.selectAll('path')
					.data(precincts.features)
					.enter().append('path')
					.attr('d', path)
					.attr('class', 'precinct')
					.attr('id', function (d) { return 'pct'.concat(d.properties.PCTKEY); })
					.on("mouseover", function(d) {
						d3.select(this).style('fill','red');
						tooltip_div.transition()
							.duration(200)
							.style("opacity", .9);
						tooltip_div.html('<p><strong>Precinct id:</strong></br>'+ d.properties.PCTKEY + "</br><p><strong>" + titles[datapoint] + "</strong></br>" + d.properties.electionData[year][datapoint] + "</p>") //data id call
							// .style("left", (d3.event.pageX) + "px")
							// .style("top", (d3.event.pageY - 5) + "px");   
							})
					.on("mouseout", function(d) {
						tooltip_div.transition()
							.duration(500)
							.style("opacity", 0);
						d3.select(this).style('fill', function (d) { return color(d.properties.electionData[year][datapoint]); }); ///data id call
					});

				precinct_paths = svg.selectAll('.precinct');

				shiftColors();	
				
				// precinct_paths.style('fill', 'red');

			function shiftColors(){	
				precinct_paths
					.transition()
					.on('start', function repeat(){
						d3.active(this)
							.style('fill', function (d) { return color(d.properties.electionData['2002'][datapoint]); })
							.transition().delay(1000)
							.style('fill', function (d) { return color(d.properties.electionData['2004'][datapoint]); })
							.transition().delay(1000)
							.style('fill', function (d) { return color(d.properties.electionData['2006'][datapoint]); })
							.transition().delay(1000)
							.style('fill', function (d) { return color(d.properties.electionData['2008'][datapoint]); })
							.transition().delay(1000)
							.style('fill', function (d) { return color(d.properties.electionData['2010'][datapoint]); })
							.transition().delay(1000)
							.style('fill', function (d) { return color(d.properties.electionData['2012'][datapoint]); })
							.transition().delay(1000)
							.style('fill', function (d) { return color(d.properties.electionData['2014'][datapoint]); })
							.transition().delay(1000)
							.style('fill', function (d) { return color(d.properties.electionData['2016'][datapoint]); })
						.on('start', repeat)});
				yearText
					.transition()
					.on('start', function repeat(){
						d3.active(this)
							.text('2002')
							.transition().delay(1000)
							.text('2004')
							.transition().delay(1000)
							.text('2006')
							.transition().delay(1000)
							.text('2008')
							.transition().delay(1000)
							.text('2010')
							.transition().delay(1000)
							.text('2012')
							.transition().delay(1000)
							.text('2014')
							.transition().delay(1000)
							.text('2016')
							.transition().delay(1000)
						.on('start', repeat)});
					}
				
				

				drawMapLegend(svg, extent, datapoint, colors);


			}
			//svg is element to attach to, which should probably be an svg
			//entext is the the extent of domain, should be computed in each draw function
			//
			function drawMapLegend(svg, extent, datapoint, colors){  

				var legendwidth = 200,
					legendheight = 15;

				var legend = svg.append("defs")
					.append("svg:linearGradient")
					.attr("id", "gradient" + datapoint)
					.attr("x1", "0%")
					.attr("y1", "100%")
					.attr("x2", "100%")
					.attr("y2", "100%")
					.attr("spreadMethod", "pad");

				legend
					.append("stop")
					.attr("offset", "0%")
					.attr("stop-color", colors[0])
					.attr("stop-opacity", 1);

				legend
					.append("stop")
					.attr("offset", "100%")
					.attr("stop-color", colors[1])
					.attr("stop-opacity", 1);

				svg
					.append("rect")
					.attr("width", legendwidth)
					.attr("height", legendheight)
					.style("fill", "url(#gradient" + datapoint + ")")
					.attr("transform", "translate(300,40)");

				var x = d3.scalePow().exponent(1/3).range([0, legendwidth]).domain(extent);

				var xAxis = d3.axisTop().scale(x).ticks(5);

				svg.append("g")
					.attr("class", "x axis")
					.attr("transform", "translate(300,38)")
					.call(xAxis)
				
				svg.selectAll('.tick text')
					.attr("dy", "1.5em")
					.attr("dx", "2em")
					.attr("transform", "rotate(-75), scale(1,-1)")
					.style("text-anchor", "beginning")
			}//end legend function 


		//call the function for each map we want to draw	

		draw_demographic_map('pop_hisp', colorSets.red);
		draw_demographic_map('pop_anglo', colorSets.blue);
		draw_demographic_map("pop_other", colorSets.grey);
		draw_demographic_map("pop_total", colorSets.red);
		draw_demographic_map("vap_total", colorSets.purple);
		draw_demographic_map("pop_black", colorSets.green);
		draw_demographic_map("pop_blhisp", colorSets.blue);
		draw_demographic_map("vap_anglo", colorSets.orange);
		draw_demographic_map("vap_hisp", colorSets.red);
		draw_demographic_map("vap_black", colorSets.grey);
		draw_demographic_map("vap_blhisp", colorSets.blue);
		draw_demographic_map("vap_other", colorSets.purple);

		draw_election_data_map('2002', 'topVote__sum', colorSets.red);
		draw_election_data_map('2002', 'turnOut__sum', colorSets.blue);
		draw_election_data_map('2002', 'voterReg__sum', colorSets.purple);

		// draw_election_data_map('2004', 'topVote__sum', colorSets.red);
		// draw_election_data_map('2004', 'turnOut__sum', colorSets.blue);
		// draw_election_data_map('2004', 'voterReg__sum', colorSets.purple);

		// draw_election_data_map('2006', 'topVote__sum', colorSets.red);
		// draw_election_data_map('2006', 'turnOut__sum', colorSets.blue);
		// draw_election_data_map('2006', 'voterReg__sum', colorSets.purple);

		// draw_election_data_map('2008', 'topVote__sum', colorSets.red);
		// draw_election_data_map('2008', 'turnOut__sum', colorSets.blue);
		// draw_election_data_map('2008', 'voterReg__sum', colorSets.purple);

		// draw_election_data_map('2010', 'topVote__sum', colorSets.red);
		// draw_election_data_map('2010', 'turnOut__sum', colorSets.blue);
		// draw_election_data_map('2010', 'voterReg__sum', colorSets.purple);

		// draw_election_data_map('2012', 'topVote__sum', colorSets.red);
		// draw_election_data_map('2012', 'turnOut__sum', colorSets.blue);
		// draw_election_data_map('2012', 'voterReg__sum', colorSets.purple);

		// draw_election_data_map('2014', 'topVote__sum', colorSets.red);
		// draw_election_data_map('2014', 'turnOut__sum', colorSets.blue);
		// draw_election_data_map('2014', 'voterReg__sum', colorSets.purple);

		// draw_election_data_map('2016', 'topVote__sum', colorSets.red);
		// draw_election_data_map('2016', 'turnOut__sum', colorSets.blue);
		// draw_election_data_map('2016', 'voterReg__sum', colorSets.purple);

		function leafletMap(divid) {


		var geojsonobj = precincts;

		function onEachFeature(feature, layer) {
		    if (feature.properties && feature.properties.PCTKEY) {
		        layer.bindPopup(feature.properties.PCTKEY);
		    }
		}

		var lmap = L.map(divid).setView([0,0], 3);
		geojsonLayer = L.geoJSON(geojsonobj, { 
			onEachFeature : onEachFeature
		}).addTo(lmap);
		lmap.fitBounds(geojsonLayer.getBounds());


		var myStyle = {
		    "color": "#ff7800",
		    "weight": 5,
		    "opacity": 0.65
		};

				
		L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
	    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
	    maxZoom: 13,
	    id: 'mapbox.streets',
	    accessToken: 'pk.eyJ1IjoibW9yZ2FuaGFydGxleSIsImEiOiJjajU4am0yNnUxMjRpMndwM2NqMWp6M3V2In0.wKda7PU6J78Vz45le6qQ3Q'
		}).addTo(lmap);


	}//leafletMap()
	leafletMap('leaflet-map');


		}); //json.load	
	}//setMaps()






//args: dataurl, div, xdata, ydata1, ydata2;
	lineChart(demogchart_url, 'demog-chart', 'electionYear', 'turnout', 'voterRegistration');
	lineChart(resultchart_url, 'result-chart', 'electionYear', 'DEM', 'REP');

	setMaps();



	});//document.ready
		

	</script>

{% endblock scripts %}