{% extends 'base.html' %}

{% block content %}

<table>
	<table class = 'table table-striped explorer'>
	<thead>
		<tr>
			<th>
				Which District would you like to take a look at?
			</th>
		</tr>
	</thead>
	<tbody>
	{% for o in offices %}
	<tr>
		<td>
			<a href = '{{o.id}}'>{{o.officeName}}</a>
		</td>
	</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock %}