{% extends 'base.html' %}
{% block content %}


	<h2>{{office.officeName}}</h2>
	<h2>Results for {{county.countyName}} County</h2>

{% for key, value in electionResults %}
<h4>{{key}}</h4>
<div class = "table-responsive">
	<table class = "table table-striped">
	{% for l in value %}
		{%if l.0 == 'REP' and forloop.counter == 1 %}
			<tr class = 'repwinner'>
		{% elif l.0 == 'DEM' and forloop.counter == 1 %}
			<tr class = 'demwinner'>
		{% else %}
			<tr>
		{% endif %}
		{% for item in l%}
			<td>{{item}}</td>
		{% endfor %}
		</tr>
	{% endfor %}
	</table>
</div>
{% endfor %}

<div class="row">
	<div class = 'col-lg-12 center-block text-center'>
    <div class="card">
        <div class="header" style="border-bottom: 1px solid #e3dfd8;">
			<h3>Election Results</h3>
        </div>
        <div class="content">
            <div id="result-chart"></div>
            <div class = "m-2">
	        	<button type="submit" id = 'bar-transform-result-chart' class="btn btn-info btn-fill btn-wd">Bar Chart</button>
	        	<button type="submit" id = 'line-transform-result-chart' class="btn btn-info btn-fill btn-wd">Line Chart</button>
	        </div>
        </div>
    </div>
   </div>
</div>
  
<div class="row">  
	<div class = "col-lg-12 center-block text-center">
    <div class="card">
        <div class="header" style="border-bottom: 1px solid #e3dfd8;">
			<h3>Voter Turnout</h3>
        </div>
        <div class="content">
        	<div class = "m-2">
            	<div id="demog-chart"></div>
	        	<button type="submit" id = 'bar-transform-demog-chart' class="btn btn-info btn-fill btn-wd">Bar Chart</button>
	        	<button type="submit" id = 'line-transform-demog-chart' class="btn btn-info btn-fill btn-wd">Line Chart</button>
	        </div>
        </div>
    </div>
</div>
</div>
    

	{% endblock content %}

	{% block scripts %}
	<script>

	$(document).ready(function() {

		function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

		var office_id = '{{office.id}}';
		var county_id = '{{county.id}}'
		var resultchart;


		$.ajax({
			type: 'POST',
			url: '/elections/ajax/districtincounty_result_chart/',
			data: {'office_id': office_id, 'county_id': county_id},
			success: function chartdata(jsonreturn) {
				resultchart = drawElectionResultChart(jsonreturn);	
				console.log(resultchart);
			}
		}); 

		function drawElectionResultChart(results){
			var chart = c3.generate({
				bindto:'#result-chart',
			    data: {
			      	 xs: {
		            'Democrats':'demyears',
		            'Republicans':'repyears',
		        	},
			        json: results,
			        type: 'spline',
			    },
			    color: {
			    	pattern: ['#000063', '#CE0000']
			    }
			});			
			return chart;
		};

		console.log(resultchart)


		///transform functions;


		$('#bar-transform-result-chart').click(function() {
			setTimeout(function () {
				resultchart.transform('bar');
				}, 200);
		});

		$('#line-transform-result-chart').click(function() {
			setTimeout(function () {
			    resultchart.transform('spline');
				}, 100);
		});

		$('#bar-transform-demog-chart').click(function() {
			setTimeout(function () {
				demogchart.transform('bar');
				}, 200);
		});

		$('#line-transform-demog-chart').click(function() {
			setTimeout(function () {
			    demogchart.transform('spline');
				}, 100);
		});





	//second chart
	var demogchart;
	$.ajax({
			type: 'POST',
			url: '/elections/ajax/districtincounty_demog_chart/',
			data: {'office_id': office_id, 'county_id': county_id},
			success: function chartdata(jsonreturn) {
				demogchart = drawDemographicChart(jsonreturn);	
			}
		});

		function drawDemographicChart(jsonreturn){
			//need to parse out the array of years first for tick values.
			console.log(jsonreturn)
			var ajaxchart = c3.generate({
				bindto:'#demog-chart',
			    data: {
			    	x: 'electionYears',
			        json: jsonreturn,
			        type: 'spline'
			    },
			    axis: {
			        x: {
			            tick: {
			                values: jsonreturn['electionYears']
			            }
	        		}
    			}
			});			
			return ajaxchart;
		};
		///figure out how to get year.
	});

	$('#bar-transform-demog-chart').click(function() {
		setTimeout(function () {
			demogchart.transform('bar');
			}, 200);
	});

	$('#line-transform-demog-chart').click(function() {
		setTimeout(function () {
		    demogchart.transform('spline');
			}, 100);
	});

	</script>

	{% endblock scripts %}