{% extends 'base.html' %}

{% block content %}

<h3>Which district would you like to take a look at?</h3>

<div class = "table-responsive">
	<table class = "table table-striped">
	<tbody>
	{% for officeType in officeTypes %}
	<tr>
		<td>
			<a href = '{{officeType.office__officeType}}'>
				{{officeType.office__officeType__officeType}}
			</a>
		</td>
	<tr>
	{% endfor %}
	</table>
</div>
{% endblock content %}
