{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div id = 'maps'>
</div>

{% endblock content %}

{% block scripts %}

<script src='{% static "js/topojson.js"%}'></script>
<script src='{% static "js/d3-tip.js"%}'></script>
<!-- <script src="https://d3js.org/d3-interpolate.v1.min.js"></script> -->
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script>

$(document).ready(function(){

	var district_id = '{{district}}';
	var result_url = '/elections/ajax/maps/precinctload/'+district_id+'/';
	var static_test_url = '/static/geodata/precincts.json';
	var precinct_json;

	function setMaps(){
		var width = 600;
		var height = 660;

		///this is SVG creation, needs to move to data specific function:


		var colorSets = {red : ['#fee0d2','#de2d26'] , green : ['#e5f5e0', '#31a354'], purple : ['#efedf5','#756bb1'], blue : ['#deebf7', '#3182bd'], orange : ['#ffffd4','#d95f0e'], grey : ['#f0f0f0', '#636363']}

		var titles = {
				"pop_hisp": "Hispanic Population by Precinct, Percent of Total Population",
				"pop_anglo": "Anglo Population by Precinct, Percent of Total Population",
				"pop_other": "Population by Precinct, Not Hispanic, Anglo, or Black, Percent of Total Population",
				"pop_total": "Total Population by Precinct",
				"vap_total": "Voting Age Population by Precinct",
				"pop_black": "Black Population by Precinct, Percent of Total Population",
				"pop_blhisp": "Black and Hispanic Population by Precinct, Percent of Total Population",
				"vap_anglo": "Voting Age Population by Precinct, Anglo, Percent of Voting Age Population",
				"vap_hisp": "Voting Age Population by Precinct, Hispanic, Percent of Voting Age Population",
				"vap_blhisp": "Voting Age Population by Precinct, Black and Hispanic, Percent of Voting Age Population",
				"vap_black": "Voting Age Population by Precinct, Black, Percent of Voting Age Population",
				"vap_other": "Voting Age Population by Precinct, Not Hispanic, Anglo, or Black, Percent of Voting Age Population",
				'voterReg__sum': "Total Voter Registration",
				'turnOut__sum': "Total TurnOut",
				'topVote__sum': 'Total TopVote'
				};

		d3.json(result_url, function(error, precincts){ //will need to add + district_id to make this district specific		
			if (error) return console.error(error);
			console.log(precincts);
			var keys = Object.keys(precincts.features[1].properties)
			keys = keys.filter(function (x) {
				return x !== 'PCTKEY';
			});
			
			for (i=0; i < keys.length; i++) {
				var $divid = keys[i].toString(),
					$div = "<div class = \'map-wrapper\' id =" + $divid + "><div class = \'map-header\'></div><svg id = \'svg_" + $divid + "\'></svg><div class = \'tooltip\' id = \'tooltip_" + $divid + "\'></div></div>";
				if ($divid == "electionData") {
					edKeys1 = Object.keys(precincts.features[1].properties.electionData);
					for (j = 0; j < edKeys1.length; j++){
						var $eddivid1 = $divid + '-' + edKeys1[j].toString();
							$eddiv1 = "<div id='" + $eddivid1 +"' class = 'year-wrapper'><h2>" + edKeys1[j].toString() + "</div>";
						$('#maps').append($eddiv1);
						edKeys2 = Object.keys(precincts.features[1].properties.electionData[edKeys1[j]]);
						edKeys2 = edKeys2.filter(function (x) {
							return x !== 'election__electionDate'
							&& x !== 'election__electionType'
							&& x !== 'election__electionYear'
							&& x !== 'precinct__pctkey';
						});
						for (k = 0; k < edKeys2.length; k++){ 
							var $eddivid2 = $eddivid1 + '-' + edKeys2[k].toString(),
								$eddiv2 = "<div class = \'map-wrapper\' id =" + $eddivid2 + "><div class = \'map-header\'></div><svg id = \'svg_" + $eddivid2 + "\'></svg><div class = \'tooltip\' id = \'tooltip_" + $eddivid2 + "\'></div></div>";
							$('#' + $eddivid1).append($eddiv2);
						}}}
				else {
					$('#maps').append($div);
				}

			}
			

			//set projection and draws path to hand to SVC element
			var path = d3.geoPath()
				.projection(
					d3.geoIdentity()
						 .fitSize([width, height-60], precincts))

			// Define the div for the tooltip 
			//we need to change this div to make it static.
		

			//BEGIN VARIABLE SPECIFIC CODE

			//extent function defines the upper and lower ranges of the properties.
			function draw_demographic_map(datapoint, colors) {
				var datapoint_id = '#' + datapoint.toString(),
					map_header_id = datapoint_id + " .map-header",
					svg_selector = '#svg_' + datapoint.toString(),
					toolip_selector = '#tooltip_' + datapoint.toString();

				console.log(map_header_id);
				
				d3.select(map_header_id).html('<h3>' + titles[datapoint] + '<h3>');

				console.log(svg_selector)

				var svg = d3.select(svg_selector) //DIV ID
					.attr('width', width)
					.attr('height', height);

				var tooltip_div = d3.select(toolip_selector)			
				    .style("opacity", 1);


				var extent = d3.extent(precincts.features.map(f => f.properties[datapoint])); //extent parameter call
				var colorrange = colors; //THIS IS EXPECT A LIST OF COLORS WITH LENGTH 2
				console.log(colorrange);
				console.log(extent);

				var color = d3.scalePow()
					.exponent((1/3))
					.domain(extent) 
		    		.range(colorrange);// 

				svg.selectAll('path')
					.data(precincts.features)
					.enter().append('path')
					.attr('d', path)
					.attr('class', 'precinct')
					.attr('id', function (d) { return 'pct'.concat(d.properties.PCTKEY); })
					.style('fill', function (d) { return color(d.properties[datapoint]); }) //DRAW THE COLORS.
					.on("mouseover", function(d) {
						d3.select(this).style('fill','red');
						tooltip_div.transition()
							.duration(200)
							.style("opacity", .9);
						tooltip_div.html('<p><strong>Precinct id:</strong></br>'+ d.properties.PCTKEY + "</br><p><strong>" + titles[datapoint] + "</strong></br>" + d.properties[datapoint] + "</p>") //data id call
							// .style("left", (d3.event.pageX) + "px")
							// .style("top", (d3.event.pageY - 5) + "px");   
							})
					.on("mouseout", function(d) {
						tooltip_div.transition()
							.duration(500)
							.style("opacity", 0);
						d3.select(this).style('fill', function (d) { return color(d.properties[datapoint]); }); ///data id call
					});
					;	

				///THE LEGEND

				var legendwidth = 200,
					legendheight = 20;

				var legend = svg.append("defs")
					.append("svg:linearGradient")
					.attr("id", "gradient")
					.attr("x1", "0%")
					.attr("y1", "100%")
					.attr("x2", "100%")
					.attr("y2", "100%")
					.attr("spreadMethod", "pad");

				legend
					.append("stop")
					.attr("offset", "0%")
					.attr("stop-color", colorrange[0])
					.attr("stop-opacity", 1);

				console.log('color range in legend code');
				console.log(colorrange);

				legend
					.append("stop")
					.attr("offset", "100%")
					.attr("stop-color", colorrange[1])
					.attr("stop-opacity", 1);

				svg
					.append("rect")
					.attr("width", legendwidth)
					.attr("height", legendheight)
					.style("fill", "url(#gradient)")
					.attr("transform", "translate(300,610)");

				var x = d3.scalePow().exponent(1/3).range([0, legendwidth]).domain(100);

				var xAxis = d3.axisBottom().scale(x).ticks(5);

				svg.append("g")
					.attr("class", "x axis")
					.attr("transform", "translate(300,635)")
					.call(xAxis).append("text")
					.attr("y", 30)
					.attr("dy", ".71em")
					.attr("dx", ".4em")
					.attr("transform", "rotate(-75)")
					.style("text-anchor", "end")
					.text("axis title");

			var monkeys = 'tie-dye';

			} 
			//END OF pop_hisp_map()

			//This is the same function as above, but accepts the differently nest arguments.
			function draw_election_data_map(year, datapoint, colors) {
				var datapoint_selector = 'electionData-' + year  + '-' + datapoint.toString(),
					datapoint_id = '#' + datapoint_selector
					map_header_id = datapoint_id + " .map-header",
					svg_selector = '#svg_' + datapoint_selector,
					toolip_selector = '#tooltip_' + datapoint_selector;
				
				d3.select(map_header_id).html('<h3>' + titles[datapoint] + ', ' + year + '<h3>');


				console.log(svg_selector)

				var svg = d3.select(svg_selector) //DIV ID
					.attr('width', width)
					.attr('height', height);

				var tooltip_div = d3.select(toolip_selector)			
				    .style("opacity", 1);


				var extent = d3.extent(precincts.features.map(f => f.properties.electionData[year][datapoint])); //extent parameter call
				var colorrange = colors; //THIS IS EXPECT A LIST OF COLORS WITH LENGTH 2
				console.log(colorrange);
				console.log(extent);

				var color = d3.scalePow()
					.exponent((1/3))
					.domain(extent) 
		    		.range(colorrange);// 

				svg.selectAll('path')
					.data(precincts.features)
					.enter().append('path')
					.attr('d', path)
					.attr('class', 'precinct')
					.attr('id', function (d) { return 'pct'.concat(d.properties.PCTKEY); })
					.style('fill', function (d) { return color(d.properties.electionData[year][datapoint]); }) //DRAW THE COLORS.
					.on("mouseover", function(d) {
						d3.select(this).style('fill','red');
						tooltip_div.transition()
							.duration(200)
							.style("opacity", .9);
						tooltip_div.html('<p><strong>Precinct id:</strong></br>'+ d.properties.PCTKEY + "</br><p><strong>" + titles[datapoint] + "</strong></br>" + d.properties.electionData[year][datapoint] + "</p>") //data id call
							// .style("left", (d3.event.pageX) + "px")
							// .style("top", (d3.event.pageY - 5) + "px");   
							})
					.on("mouseout", function(d) {
						tooltip_div.transition()
							.duration(500)
							.style("opacity", 0);
						d3.select(this).style('fill', function (d) { return color(d.properties.electionData[year][datapoint]); }); ///data id call
					});
					;	

				///THE LEGEND

				var legendwidth = 200,
					legendheight = 20;

				var legend = svg.append("defs")
					.append("svg:linearGradient")
					.attr("id", "gradient")
					.attr("x1", "0%")
					.attr("y1", "100%")
					.attr("x2", "100%")
					.attr("y2", "100%")
					.attr("spreadMethod", "pad");

				legend
					.append("stop")
					.attr("offset", "0%")
					.attr("stop-color", colorrange[0])
					.attr("stop-opacity", 1);

				console.log('color range in legend code');
				console.log(colorrange);

				legend
					.append("stop")
					.attr("offset", "100%")
					.attr("stop-color", colorrange[1])
					.attr("stop-opacity", 1);

				svg
					.append("rect")
					.attr("width", legendwidth)
					.attr("height", legendheight)
					.style("fill", "url(#gradient)")
					.attr("transform", "translate(300,610)");

				var x = d3.scalePow().exponent(1/3).range([0, legendwidth]).domain(100);

				var xAxis = d3.axisBottom().scale(x).ticks(5);

				svg.append("g")
					.attr("class", "x axis")
					.attr("transform", "translate(300,635)")
					.call(xAxis).append("text")
					.attr("y", 30)
					.attr("dy", ".71em")
					.attr("dx", ".4em")
					.attr("transform", "rotate(-75)")
					.style("text-anchor", "end")
					.text("axis title");

			var monkeys = 'tie-dye';

			} 


		draw_demographic_map('pop_hisp', colorSets.red);
		draw_demographic_map('pop_anglo', colorSets.blue);
		draw_demographic_map("pop_other", colorSets.grey);
		draw_demographic_map("pop_total", colorSets.red);
		draw_demographic_map("vap_total", colorSets.purple);
		draw_demographic_map("pop_black", colorSets.green);
		draw_demographic_map("pop_blhisp", colorSets.blue);
		draw_demographic_map("vap_anglo", colorSets.orange);
		draw_demographic_map("vap_hisp", colorSets.orange);
		draw_demographic_map("vap_black", colorSets.orange);
		draw_demographic_map("vap_blhisp", colorSets.orange);
		draw_demographic_map("vap_other", colorSets.orange);

		draw_election_data_map('2002', 'topVote__sum', colorSets.red);
		draw_election_data_map('2002', 'turnOut__sum', colorSets.blue);
		draw_election_data_map('2002', 'voterReg__sum', colorSets.purple);

		draw_election_data_map('2004', 'topVote__sum', colorSets.red);
		draw_election_data_map('2004', 'turnOut__sum', colorSets.blue);
		draw_election_data_map('2004', 'voterReg__sum', colorSets.purple);

		draw_election_data_map('2006', 'topVote__sum', colorSets.red);
		draw_election_data_map('2006', 'turnOut__sum', colorSets.blue);
		draw_election_data_map('2006', 'voterReg__sum', colorSets.purple);

		draw_election_data_map('2008', 'topVote__sum', colorSets.red);
		draw_election_data_map('2008', 'turnOut__sum', colorSets.blue);
		draw_election_data_map('2008', 'voterReg__sum', colorSets.purple);

		draw_election_data_map('2010', 'topVote__sum', colorSets.red);
		draw_election_data_map('2010', 'turnOut__sum', colorSets.blue);
		draw_election_data_map('2010', 'voterReg__sum', colorSets.purple);

		draw_election_data_map('2012', 'topVote__sum', colorSets.red);
		draw_election_data_map('2012', 'turnOut__sum', colorSets.blue);
		draw_election_data_map('2012', 'voterReg__sum', colorSets.purple);

		draw_election_data_map('2014', 'topVote__sum', colorSets.red);
		draw_election_data_map('2014', 'turnOut__sum', colorSets.blue);
		draw_election_data_map('2014', 'voterReg__sum', colorSets.purple);

		draw_election_data_map('2016', 'topVote__sum', colorSets.red);
		draw_election_data_map('2016', 'turnOut__sum', colorSets.blue);
		draw_election_data_map('2016', 'voterReg__sum', colorSets.purple);




		}); //json.load	
	}//setMaps()


	var deferred = $.Deferred()

	deferred
		.then(setMaps())
		.then(function(){
			console.log('yoaroakdfjal;dsfjyay!!!')
		});

	deferred.resolve();
	

	


	


});
</script>

{% endblock scripts %}

