{% extends 'base2.html' %}
{% load staticfiles %}



Need to add candidate's last name to the district tabulation
Make district Number clearer
Changing the sort order.
x axis to see turnout




{% block content %}
<div class = 'text-center'>
<h1>State of Texas: Compare Districts for {{officeType.officeType}}</h1>
</div>


<div class = 'btn-row row text-center'>
	<div class = 'col-sm-2 col-sm-offset-3'><div class = 'btn'><a href = '/officereport/2/'>Congressional Districts</a></div></div>
	<div class = 'col-sm-2'><div class = 'btn'><a href = '/officereport/13/'>State Senate Districts</a></div></div> 
	<div class = 'col-sm-2'><div class = 'btn'><a href = '/officereport/14/'>State House Districts</a></div></div> 
</div>
<h2></h2>
<div class = 'btn-row row text-center'>
	<div class = 'col-sm-2 col-sm-offset-4 sort-btn text-center'><div class = 'btn' id = 'difference-sort'>Order by Win Margin</div></div> 
	<div class = 'col-sm-2 sort-btn text-center'><div class = 'btn' id = 'district-sort'>Order by District Number</div></div> 
</div>
<h2></h2>
<div class = 'btn-row row text-center' id = 'year-btns'>
<div class = 'col-sm-2'></div>
</div>
<h2></h2>
<div id = 'district-compare'></div>
<div id = 'district-compare-years'></div>

</body>

{% endblock content %}
{% block scripts %}

<script>

$(document).ready(function(){

	officetype_id = {{officeType.id}}

//build get query url for get request ajax call
function encodeQueryData(data) {
	let ret = [];
	for (let d in data)
	 ret.push(encodeURIComponent(d) + '=' + encodeURIComponent(data[d]));
	return ret.join('&');
	}

var base_url = '/elections/officereportajax/?',
	params = {'officeType': '{{officeType.officeType}}', 'officeType_id' : '{{officeType.id}}'},
	url_params = encodeQueryData(params),
	url = base_url + url_params;

//comparison chart function begin


function compareDistricts(div, year, url) {  //sort can be either 'difference' or 'district'
	var width = 800,
		height = 10, //this gets reset dynamically later.
		label_width = 70,
		top_padding = 30,
		bottom_padding = 12;


	var tooltip = d3.select("#district-compare").append("div").attr("class", "tooltip-compare");

	console.log('launching ajax call')
	d3.json(url, function(error, wholedata){
		if (error) return console.error(error);

		console.log('year');
		console.log(year);
		
		//array of years we use to create buttons and win circles.
		var years = d3.range(2002, 2017, 2).map( d => Math.round(d));
		console.log(wholedata)
		
		//create year buttons based on years in data set, click logic to draw new chart
		var yeardiv = d3.select("#year-btns");
		var yearkeys = []
		years.forEach(function (d){
			yeardiv.append('div').attr('class', 'col-sm-1')
				.append('div').attr('class', 'btn').attr('id', d).html(d)
				.on('click', function () { 
				d3.selectAll('#year-btns .col-sm-1 .btn-primary').classed('btn-primary', false);
				th = d3.select(this).classed('btn-primary', true);
				 drawchart(d); 
				  })
			
		});


		year = year.toString();

		//determine the sort


		//sort functions	
		function differencesort() {
			wholedata = wholedata.sort(function (a, b){ return d3.descending(a.diff, b.diff) }); 
		}

		function districtsort() {
			wholedata = wholedata.sort(function (a, b) { return d3.ascending(a.districtNum, b.districtNum)});
		}

		differencesort(); //default sorting

	//beginning of the do shit function
	var drawchart = (function(year) {	

		d3.selectAll('.compare-chart').remove() //for sorting functions. deletes the old elements so they don't just get pushed down the page.

		

		 wholedata.forEach(function(d, i) {
			try {
                d.demVote = +d['electionResults'][year]['DEM']['voteCount'];
                d.repVote = +d['electionResults'][year]['REP']['voteCount'];
                d.diff = percentDifference(d.demVote, d.repVote);
                d.totalVote = d.demVote + d.repVote;
                d.demVotepercent = d.demVote/d.totalVote;
                d.repVotepercent = d.repVote/d.totalVote;
              } // d.ye = d['REP'].electionDate != 0 ?  0 : 1;}//new Date(d['REP'].electionDate).getFullYear() : new Date(d['DEM'].electionDate).getFullYear(); }
             catch (e) {
             	d.demVote = 0;
                d.repVote = 0;
                d.diff = 0;
                d.totalVote = 0;
                d.demVotepercent =0;
                d.repVotepercent = 0; 
           
            }


            d.winArray = [];
             for (var y in years) {
             	d.winArray.push('NoData');
                };


                //populate the win Array function
                for ( key = 0; key < years.length; key++) {
                	try {
                	 	d['electionResults'][years[key].toString()]['DEM']['voteCount'] > d['electionResults'][years[key].toString()]['REP']['voteCount'] ? d.winArray[key] = 'DEM' : d.winArray[key] = 'REP' }
               		catch (e) {
               			if (e instanceof TypeError) {
               			try{	
               				if (d['electionResults'][years[key].toString()]['DEM'] != undefined && Object.keys(d['electionResults'][key.toString()] != 0)) {
               					d.winArray[key] = 'DEM';
               				}
               				}
               			catch(e) {
               				try {
               				if ((d['electionResults'][years[key].toString()]['REP'] != undefined && Object.keys(d['electionResults'][key.toString()] != 0))) {
               					d.winArray[key] = 'REP';
               				}}
               				catch(e) {
               					void(0);
               				}
               			}
               			
               		}
                }
            }

                //now, for each year, we're going to create a div

            }); //wholeData.foreach() end


		function zeroFilterFunc(d) { return d.repVote == 0 && d.demVote == 0 };

		data = wholedata.filter( d => !zeroFilterFunc(d))

	


		height = (data.map( function (d,i) {return i}).length * 33) + top_padding + bottom_padding;

		//make the svg
		var svg = d3.select('#' + div)
		.append('svg')
		.attr('class', 'compare-chart')
		.attr('width', width + 30)
		.attr('height', height)
		.append('g')
		.attr('transform', 'translate('+label_width+',' +top_padding +')'); //create 50 pixel left margin for labels


		var max_vote = d3.max(data, function (d) { return Math.max(d.demVote, d.repVote) });

		//note democratic wins will be positive, republican wins negative
		function percentDifference(dem,rep){
			sum = dem + rep;
			dempercent = (dem/sum) * 100;
			reppercent = (rep/sum) * 100;
			return dempercent - reppercent;
		}


		boxheight = 23

		//scales
		var boxwidth =  d3.scaleLinear()
			.domain([0, max_vote])
			.range([0, (width - label_width - label_width*.15)/2]);

		var y = d3.scaleBand()
			.domain(data.map(function (d, i) { return i }))
			.range([0, height - top_padding - bottom_padding])
			.paddingInner(.05)

		//xaxis for win array circles
		var circleX = d3.scaleLinear()
			.domain([0, 9])
			.range([-(label_width) + 12, 8 ]);

		var boxopacity = d3.scalePow()
			.domain([0,40])
			.range([1,.7]);

		var color = d3.scaleOrdinal()
			.domain(['REP', 'DEM'])
			.range(['red','steelblue']);

		

			var rects = svg.selectAll('.rectangle')
				.data(data)
				.enter().append('g')
				.filter(d => !zeroFilterFunc(d))
				// .attr('class', 'rectangle-group')
				.attr('y', function (d,i) { return y(i)})
				.attr("data-index", function(d, i) { return i; })//making parent index available for later nested arrays.
				.on('mouseover', function (d) {
					d3.select(this).selectAll('rect')
						.transition().duration(150)
						.attr('height', y.bandwidth() + y.bandwidth()*.05)
						.attr('stroke', 'darkblue');
						

					

					//I'm getting negative values. really weird.
					var bbox = d3.select(this).node().getBBox();
					// console.log(bbox.y);
					recttop = d3.select(this).select('.reprect').node().getBoundingClientRect().top;
					svgtop = svg.node().getBoundingClientRect().top;
	
				})
				.on('mouseout', function (d) {
					d3.select(this).selectAll('rect')
						.transition().duration(300)
						.attr('height', y.bandwidth())
						.attr('stroke', null);

				})
				.on('click', function (d) {
					drawByYearChart('district-compare-years', d.districtNum);
					window.location.href = '#district-compare-years'

				})
				;
			//top function !!!!
			rects
				.append('rect') //democratic rects
				.attr('y', function(d, i) {return y(i)})
				.attr('x', function(d) { return (width / 2)  })
				.attr('width', 5).transition()
					.duration(1200)
				.attr('width', function(d) { return boxwidth(d.demVote) })
				.attr('x', function(d) { return (width / 2) - boxwidth(d.demVote) })
				.attr('height', y.bandwidth())
				.attr('fill', color('DEM'))
				.transition().attrTween('opacity', function (d) { return d3.interpolate(1, boxopacity(Math.abs(d.diff))) })
				// .attr('opacity', function(d) { return boxopacity(Math.abs(d.diff)) });


			rects
				.append('rect') //republican rects
				.attr('class', 'reprect')
				.attr('y', function(d, i) {return y(i)})
				.attr('x', function(d) { return (width / 2) })
				.attr('height', y.bandwidth())
				.attr('width', 5).transition()
					.duration(1200)//.delay(function (d,i) { return i * 100})
				.attr('width', function(d) { return boxwidth(d.repVote) } )
				.attr('fill', color('REP'))
				.transition().attrTween('opacity', function (d) { return d3.interpolate(1, boxopacity(Math.abs(d.diff))) })
				
				// .transition().duration(2000)
				// .attr('opacity', function(d) { return boxopacity(Math.abs(d.diff)) });


			//repvote count
			rects.append('text')
				.attr('class', 'demVoteCount')
				.attr('x', width / 2 - 20)
				.attr('y', function(d, i) {return y(i) + y.bandwidth() - 10})
				.attr('fill', 'white')
				.text(function (d) { return Math.round(d.demVotepercent*100) })
				.attr('text-anchor', 'end');

			//demvote count
			rects.append('text')
				.attr('class', 'repVoteCount')
				.attr('x', width / 2 + 20)
				.attr('y', function(d, i) {return y(i) + y.bandwidth() - 10})
				.attr('fill', 'white')
				.text(function (d) { return Math.round(d.repVotepercent*100) });

			rects
				.append('text')
				.attr('class', 'districtNum')
				.attr('x',  -(label_width) + 10) //putting it 5 px from SVG border
				.attr('y', function(d, i) {return y(i) + y.bandwidth()/2})
				.attr('font-size', '14')
				.attr('fill', function(d) {return d.diff > 0 ? 'steelblue' : 'red'})
				.text(function(d) {  
					if (d.diff < 0) 
						{ return d.districtNum.toString() +  '  R+' + (Math.abs(Math.round(d.diff*10)/10)).toString() }
					else 
						{ return d.districtNum.toString() +  '  D+' + (Math.abs(Math.round(d.diff*10)/10)).toString() }   
				});

			//win circle

			
			var ecircles = rects
				.append('g')
				.attr('class', 'winArray')
				.selectAll('circle')
				.data(d => d.winArray)
				.enter().append('circle')
				.attr('r', 3)
				.attr('cy', function (d, i) { var j = +this.parentNode.parentNode.getAttribute("data-index"); 
					return y(j) + y.bandwidth()-5 })
				.attr('cx', function (d, i) { return circleX(i) })
				.attr('fill', function (d) { return d == 'DEM' ? 'steelblue' : (d == 'REP' ? 'red' : 'white')})
				.attr('stroke', function (d) { return d == 'NoData' ? 'grey' : null })
				.style('padding', -1.5 ); 

							//create an x-axis that shows turnout metric
			//this is based on max_vote, which the boxwidth scale is based on
			xaxisrep = d3.axisTop()
				.scale(boxwidth)
				.ticks()
				.tickFormat(function (d) { return d != 0 ? (d/1000) + 'k' : ""; })
				// .tickValues([max_vote, max_vote *.75, max_vote *.5, max_vote * .25, 0, max_vote * .25, max_vote *.5, max_vote *.75, max_vote])
				.tickSizeInner(-[height]);

			var xa = svg.append('g')
				.attr('class','xaxis');

			repxa = xa
				.append('g').attr('class', 'repxaxis')
				.attr('transform', 'translate(' + (width/2) + ',0)')
				.call(xaxisrep);

			demxa = xa
				.append('g').attr('class', 'demxaxis')
				.attr('transform', 'translate(' + (width/2) + ',0) scale(-1,1)')
				.call(xaxisrep)
				.selectAll('.tick text')
				.attr('opacity', 0);
				
			function tickstyle(axisclass, party) { 
			d3.selectAll('.' + axisclass + ' .tick line')
				.style('stroke', color(party))
				.style('stroke-dasharray', ('6,4'))
				.attr('opacity', .6); 

			d3.selectAll('.domain').attr('opacity',0);}

			tickstyle('demxaxis', 'DEM');
			tickstyle('repxaxis', 'REP');

			d3.select('#difference-sort').on('click', function(d) {
				differencesort();
				drawchart(year);
				d3.selectAll('.sort-btn .btn-primary').classed('btn-primary', false);
				d3.select(this).classed('btn-primary', true);
			});
			d3.select('#district-sort').on('click', function(d) {
				districtsort();
				drawchart(year);
				d3.selectAll('.sort-btn .btn-primary').classed('btn-primary', false);
				d3.select(this).classed('btn-primary', true);
			});


			});// draw chart function 
		
		drawchart(year);
		drawByYearChart('district-compare-years', 28);

		
	function drawByYearChart(div2, targetDistrict){  //targetDistrict expects the integer number of the district

		targetDistrict_id  = wholedata.filter(function (d) { return +d.districtNum == targetDistrict})[0].office_id;

		d3.selectAll('#compare-chart-year').remove(); //for sorting functions. deletes the old elements so they don't just get pushed down the page.
		d3.selectAll('.compareByYearHeader').remove();

		d3.select('#' + div2).append('div').classed('compareByYearHeader', true).classed('text-center', true).html(
				"<h2>Comparison for elections in district " + targetDistrict + "</h2><h4><a href = '/elections/explore/district/" + officetype_id + "/" + targetDistrict_id + "/'>Get in depth information about this district</a></h4>");


		targetData = wholedata.filter(function (d) { return d.districtNum == targetDistrict });
		console.log(targetData[0]['electionResults']);

		targetData = targetData[0]['electionResults'];
		var resultslist = [];

		Object.keys(targetData).forEach(function(d) {
		    resultslist.push(targetData[d]);
		});
		console.log(resultslist)

		winArray = []

		resultslist.forEach(function (d) {
			try {
                d.demVote = +d['DEM']['voteCount'];
                d.repVote = +d['REP']['voteCount'];
                d.year = d['REP'].electionDate != 0 ? new Date(d['REP'].electionDate).getFullYear() : new Date(d['DEM'].electionDate).getFullYear();
                d.diff = percentDifference(d.demVote, d.repVote);
                d.totalVote = d.demVote + d.repVote;
                d.demVotepercent = d.demVote/d.totalVote;
	            d.repVotepercent = d.repVote/d.totalVote;
	            winArray.push( d.diff > 0 ? 'DEM' : (d.diff == 0 ? 'NULL' : 'REP'));
             } catch (e) {
             	console.error(e);
             	d.demVote = 0;
                d.repVote = 0;
                d.diff = 0;
                d.totalVote = 0;
                d.demVotepercent =0;
                d.repVotepercent = 0; }
		});

		console.log('districtWinArray');
		console.log(winArray);

		function zeroFilterFunc(d) { return d.repVote == 0 && d.demVote == 0 };

		data = wholedata.filter( d => !zeroFilterFunc(d))
		height = (resultslist.map( function (d,i) {return i}).length * 33) + top_padding + bottom_padding;

		//make the svg
		var svg = d3.select('#' + div2)
		.append('svg')
		.attr('id', 'compare-chart-year')
		.attr('width', width + 30)
		.attr('height', height)
		.append('g')
		.attr('transform', 'translate('+label_width+',' +top_padding +')'); //create 50 pixel left margin for labels

		wincirclesdiv  = svg.append('g').attr('id', 'district-history-win-circles');


		var max_vote = d3.max(resultslist, function (d) { return Math.max(d.demVote, d.repVote) });

		//note democratic wins will be positive, republican wins negative
		function percentDifference(dem,rep){
			sum = dem + rep;
			dempercent = (dem/sum) * 100;
			reppercent = (rep/sum) * 100;
			return dempercent - reppercent;
		}


		boxheight = 23

		//scales
		var boxwidth =  d3.scaleLinear()
			.domain([0, max_vote])
			.range([0, (width - label_width - label_width - 30)/2]);

		var y = d3.scaleBand()
			.domain(resultslist.map(function (d, i) { return i }))
			.range([0, height - top_padding - bottom_padding])
			.paddingInner(.05)

		//xaxis for win array circles
		var circleX = d3.scaleLinear()
			.domain([0, 9])
			.range([(width/2)-50, (width/2)+50 ]);

		var boxopacity = d3.scalePow()
			.domain([0,40])
			.range([1,.7]);

		var color = d3.scaleOrdinal()
			.domain(['REP', 'DEM'])
			.range(['red','steelblue']);

		

			var rects = svg.selectAll('.rectangle')
				.data(resultslist)
				.enter().append('g')
				.attr('y', function (d,i) { return y(i)})
				.attr("data-index", function(d, i) { return i; })
				;//making parent index available for later nested arrays.
			
			rects
				.append('rect') //democratic rects
				.attr('y', function(d, i) {return y(i)})
				.attr('x', function(d) { return (width / 2)  })
				.attr('width', 5).transition()
					.duration(1200)
				.attr('width', function(d) { return boxwidth(d.demVote) })
				.attr('x', function(d) { return (width / 2) - boxwidth(d.demVote) })
				.attr('height', y.bandwidth())
				.attr('fill', color('DEM'))
				.transition().attrTween('opacity', function (d) { return d3.interpolate(1, boxopacity(Math.abs(d.diff))) });
				// .attr('opacity', function(d) { return boxopacity(Math.abs(d.diff)) });
				

			rects
				.append('rect') //republican rects
				.attr('y', function(d, i) {return y(i)})
				.attr('x', function(d) { return (width / 2) })
				.attr('height', y.bandwidth())
				.attr('width', 5).transition()
					.duration(1200)//.delay(function (d,i) { return i * 100})
				.attr('width', function(d) { return boxwidth(d.repVote) } )
				.attr('fill', color('REP'))
				.transition().attrTween('opacity', function (d) { return d3.interpolate(1, boxopacity(Math.abs(d.diff))) });
				// .transition().duration(2000)
				// .attr('opacity', function(d) { return boxopacity(Math.abs(d.diff)) });


			//repvote count
			rects.append('text')
				.attr('class', 'demVoteCount')
				.attr('x', width / 2 - 20)
				.attr('y', function(d, i) {return y(i) + y.bandwidth() - 2})
				.attr('fill', 'white')
				.text(function (d) { return Math.round(d.demVotepercent*100) })
				.attr('text-anchor', 'end');

			//demvote count
			rects.append('text')
				.attr('class', 'repVoteCount')
				.attr('x', width / 2 + 20)
				.attr('y', function(d, i) {return y(i) + y.bandwidth() - 2})
				.attr('fill', 'white')
				.text(function (d) { return Math.round(d.repVotepercent*100) });

			

			rects
				.append('text')
				.attr('class', 'districtNum')
				.attr('x',  -(label_width) + 10) //putting it 5 px from SVG border
				.attr('y', function(d, i) {return y(i) + y.bandwidth() -2})
				.attr('font-size', 14)
				.attr('fill', function(d) {return d.diff > 0 ? 'steelblue' : 'red'})
				.text(function(d) {  
					if (d.diff < 0) 
						{ return d.year + '  R+' + (Math.abs(Math.round(d.diff*10)/10)).toString() }
					else 
						{ return d.year + '  D+' + (Math.abs(Math.round(d.diff*10)/10)).toString() }   
				});

			//win circle

			
			var ecircles = d3.select('#district-history-win-circles')
				.append('g')
				.attr('class', 'winArray')
				.selectAll('circle')
				.data(winArray)
				.enter().append('circle')
				.attr('r', 5)
				.attr('cy', -15)
				.attr('cx', function (d, i) { return circleX(i) })
				.attr('fill', function (d) { return d == 'DEM' ? 'steelblue' : (d == 'NULL' ? null : 'red')}); 

							
			//create an x-axis that shows turnout metric
			//this is based on max_vote, which the boxwidth scale is based on
			xaxisrep = d3.axisTop()
				.scale(boxwidth)
				.ticks()
				.tickFormat(function (d) { return d != 0 ? (d/1000) + 'k' : ""; })
				// .tickValues([max_vote, max_vote *.75, max_vote *.5, max_vote * .25, 0, max_vote * .25, max_vote *.5, max_vote *.75, max_vote])
				.tickSizeInner(-[height]);

			var xa = svg.append('g')
				.attr('class','xaxis');

			repxa = xa
				.append('g').attr('class', 'repxaxis')
				.attr('transform', 'translate(' + (width/2) + ',0)')
				.call(xaxisrep);

			demxa = xa
				.append('g').attr('class', 'demxaxis')
				.attr('transform', 'translate(' + (width/2) + ',0) scale(-1,1)')
				.call(xaxisrep)
				.selectAll('.tick text')
				.attr('opacity', 0);
				
			function tickstyle(axisclass, party) { 
			d3.selectAll('.' + axisclass + ' .tick line')
				.style('stroke', color(party))
				.style('stroke-dasharray', ('6,4'))
				.attr('opacity', .6); 

			d3.selectAll('.domain').attr('opacity',0);}

			tickstyle('demxaxis', 'DEM');
			tickstyle('repxaxis', 'REP');

			d3.select('#difference-sort').on('click', function(d) {
				differencesort();
				drawchart(year);
				d3.selectAll('.sort-btn .btn-primary').classed('btn-primary', false);
				d3.select(this).classed('btn-primary', true);
			});
			d3.select('#district-sort').on('click', function(d) {
				districtsort();
				drawchart(year);
				d3.selectAll('.sort-btn .btn-primary').classed('btn-primary', false);
				d3.select(this).classed('btn-primary', true);
			});

		 

		}



	

	});//d3.json
};//compareDistricts()





compareDistricts('district-compare', 2002, url);



}); //document.ready


</script>

{% endblock scripts %}