.title {
	width:300px;
	height:200px;
	position:absolute;
	left:50%;
	top:20%;
	margin:-100px 0 0 -150px;
	text-align:center;
	font-size:80px;
	color:white;
}

.creds {
	width:500px !important;
	height:200px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-100px 0 0 -250px;
	/* background-color: rgba(200,200,200,0.1); */
	background-color: black;
	border: 1px solid white;
	border-radius: 8px;
	padding: 20px 20px 20px 20px;
}

.creds .btn {
	background-color: black !important;
	border: 1px solid white;
}

.form-control {
	margin-bottom:10px !important;
}

label {
	font-weight: normal;
	color: white;
}

body {
	/*
	background: #0d1844; 
	background: -moz-linear-gradient(-45deg, #0d1844 0%, #3f3f3f 99%); 
	background: -webkit-linear-gradient(-45deg, #0d1844 0%,#3f3f3f 99%); 
	background: linear-gradient(135deg, #0d1844 0%,#3f3f3f 99%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d1844', endColorstr='#3f3f3f',GradientType=1 ); 
	*/
	background: black;
}