
/*super basic bootstrap theme... will add options to the nav*/

body {
	padding-top: 54px;
}

@media (min-width: 992px) {
	body {
	  padding-top: 56px;
	}
}

.row.text-center > div {
    display: inline-block;
    float: none;
}

.dropdown-menu {
    	min-width: 200px;
    }
    .dropdown-menu.columns-2 {
    	min-width: 400px;
    }
    .dropdown-menu.columns-3 {
    	min-width: 600px;
    }
    .dropdown-menu li a {
    	padding: 5px 15px;
    	font-weight: 300;
    }
    .multi-column-dropdown {
    	list-style: none;
    }
    .multi-column-dropdown li a {
    	display: block;
    	clear: both;
    	line-height: 1.428571429;
    	color: #333;
    	white-space: normal;
    }
    .multi-column-dropdown li a:hover {
    	text-decoration: none;
    	color: #262626;
    	background-color: #f5f5f5;
    }
     
    @media (max-width: 767px) {
    	.dropdown-menu.multi-column {
    		min-width: 240px !important;
    		overflow-x: hidden;
    	}
    }



.table-responsive {
  overflow-y: scroll;
}

tr.repwinner td{
    /*border-bottom: .75px solid red;*/
    color: red;
}

tr.demwinner td{
    /*border-bottom: .75px solid blue;*/
    color: blue;
}



/*d3 stuff */

.tooltip { 
    position: absolute;     
    text-align: center;       
    padding: 5px;
    margin: 8px;   
    top: 15px;
    right: 18px;    
    font: 15px sans-serif;    
    background: white; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none; 
    z-index: 999;    
}


 .map-header {
  position: relative;
 }

 .map-wrapper {
  position: relative;
 }

 .year-wrapper div {
  /*  display: none;*/
 }


/*chart classes*/

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

#demog-chart{
    position: relative;
}

.charttext {
    font-size: 16px,
    color: steelblue;
    font-weight: 600;
}

.legend {
    text-align: center;
}


/*leaflet map requirements*/

#leaflet-map{
    height:600px;
    width: 700px;
}


.explore-table {
    margin: 50px 60px;
}

.table-responsive {
    margin: 20px 40px;
}


.election-table-header, .election-page-header, .map-headerk, .button {
    margin: 8px 40px;
}

.map-dropdown {
    padding: 8px 12px;
}

/*.button {
    display:block;
    margin: 30px auto;
}*/

.leaflet-map, .map-wrapper, .button {
    margin:40px auto;
}

#svg_demog-map {
    margin: auto;
}



.table-striped > tbody > tr:hover {
  background-color: rgba(152,251,152,.2);
}

.table-striped > tbody > tr > td > a:hover {
    text-decoration: inherit;
    color:inherit;
}

.table-striped > tbody > tr > td > a {
    width: 100%;
    height: 100%;
    display: block;
}


#map-dropdown > li {
    padding: 5px 12px;
}

#map-dropdown > li:hover {
    background-color: rgba(152,251,152,.2);
}
#map-dropdown > li > a {
    color: black;
    width: 100%;
    height: 100%;
}

#map-dropdown > li > a:hover {
    text-decoration: inherit;

}


