input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}


.loader {
	position: fixed;
	top: 40%;
	left: 50%;
	margin-left: -60px;
	z-index: 5000;
    border: 16px solid white; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.overlay {
    position   : fixed;
    top        : 0;
    left       : 0;
    bottom: 0;
    right: 0;
    width      : 100%;
    height     : 100%;
    background : #000;
    opacity    : 0.6;
    filter     : alpha(opacity=60);
    z-index    : 200;
    display: none;
}

.table-responsive tbody>tr:hover {
    color: #009688;
}

.row-stacked {
    margin-bottom: 10px;
}

.content {
    padding-bottom: 20px;
}

.chat-message-body {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #777;
}

.chat-message-mine {
/*    border-bottom: 1px solid #DDD;*/
    padding: 4px 10px 30px 10px;
    background-color: rgb(197, 224, 220, 0.3);
    position: relative;
}

.chat-message-other {
/*    border-bottom: 1px solid #DDD;*/
    padding: 4px 10px 30px 10px;
    background-color: rgb(197, 224, 220, 0.3);
    position: relative;
}

.chat-message-tag-name {
    font-weight: bold;
}

.chat-message-tag {
    font-size: 10px;
    color: #999;
    padding-bottom: 20px;
}

.chat-message-tag:after {
    content:"\000A";
    white-space: pre;
}

.chat-image {
    float:left;
    width:52px;
    height:50px;
    margin-bottom:2px;
}

.chat-message-section {
    margin-left: 65px;
}

/*#chat-messages:first-child {
    border-top: 1px solid #DDD;
}*/

#chat-message-area {
    overflow-y: auto;
}

#chat-message-prompt {
    margin-top: 20px;
}

.small-card-info {
    font-size: 11px;
}

.person-notes {
    margin-bottom:15px;
}

.modal label {
    font-size: 11px;
    font-weight: 400;
    color: rgb(154, 154, 154);
    margin-bottom: 0px;
}

.btn-tiny {
    font-size: 9px;
    border-radius: 26px;
    padding: 4px 6px; 
    box-sizing: border-box;
    border-width: 2px;
    background-color: transparent;
    font-weight: 500;
/*    border-color: #66615B;
    color: #66615B;*/
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear;
}

.addtags {
    padding-top: 5px;
    display: none;
}

.addtags .tag {
    opacity: 0.5;
}

.addtags .tag:hover {
    opacity: 1.0;
}

.tag {
    display: inline-block; 
    color:white;
    padding: 4px 6px 4px 6px;
    border-radius: 3px;
    margin-right: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.tag > span {
    color: white;
}


.table-responsive {
  overflow-y: scroll;
}

tr.repwinner td{
    /*border-bottom: .75px solid red;*/
    color: red;
}

tr.demwinner td{
    /*border-bottom: .75px solid blue;*/
    color: blue;
}



/*d3 stuff */

.tooltip { 
    position: absolute;     
    text-align: center;       
    padding: 2px;
    margin: 3px;   
    top: 0px;
    right: 0px;    
    font: 8px sans-serif;    
    background: white; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none; 
    z-index: 999;    
}


 .map-header {
  color: red;
  position: relative;
 }

 .map-wrapper {
  position: relative;
 }

 .year-wrapper div {
  /*  display: none;*/
 }


/*chart classes*/

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

#demog-chart{
    position: relative;
}

.charttext {
    font-size: 16px,
    color: steelblue;
    font-weight: 600;
}

.legend {
    text-align: center;
}





/*leaflet map requirements*/

#leaflet-map{
    height:600px;
    width: 700px;
}




