
{% load staticfiles %}

<!Doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>Election Data</title>

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />

    <link href="{% static 'css/main2.css' %}" rel="stylesheet"/>

    <!-- leaflet stylesheet -->
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css"
    integrity="sha512-wcw6ts8Anuw10Mzh9Ytw4pylW8+NAD4ch3lqm9lzAsTxg0GFeJgoAtxuCLREZSC5lUXdVyo/7yfsqFjQ4S+aKw=="
    crossorigin=""/>

    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/themify-icons.css' %}" rel="stylesheet">

    {% block css %}
    {% endblock %}

</head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Election Data</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Congressional Results<b class="caret"></b></a>
              <ul class="dropdown-menu multi-column columns-3">
                <div class="row">
                  <div class="col-sm-4">
                    <ul class="multi-column-dropdown">
                           <li><a href = '/electionresults/al'>Alabama</a></li>
                          <li><a href = '/electionresults/ak'>Alaska</a></li>
                          <li><a href = '/electionresults/az'>Arizona</a></li>
                          <li><a href = '/electionresults/ar'>Arkansas</a></li>
                          <li><a href = '/electionresults/ca'>California</a></li>
                          <li><a href = '/electionresults/co'>Colorado</a></li>
                          <li><a href = '/electionresults/ct'>Connecticut</a></li>
                          <li><a href = '/electionresults/de'>Delaware</a></li>
                          <li><a href = '/electionresults/dc'>District of Columbia</a></li>
                          <li><a href = '/electionresults/fl'>Florida</a></li>
                          <li><a href = '/electionresults/ga'>Georgia</a></li>
                          <li><a href = '/electionresults/hi'>Hawaii</a></li>
                          <li><a href = '/electionresults/id'>Idaho</a></li>
                          <li><a href = '/electionresults/il'>Illinois</a></li>
                          <li><a href = '/electionresults/in'>Indiana</a></li>
                          <li><a href = '/electionresults/ia'>Iowa</a></li>
                          <li><a href = '/electionresults/ks'>Kansas</a></li>
                          
                    </ul>
                  </div>
                  <div class="col-sm-4">
                    <ul class="multi-column-dropdown">
                      <li><a href = '/electionresults/ky'>Kentucky</a></li>
                        <li><a href = '/electionresults/la'>Louisiana</a></li>
                        <li><a href = '/electionresults/me'>Maine</a></li>
                        <li><a href = '/electionresults/mt'>Montana</a></li>
                        <li><a href = '/electionresults/ne'>Nebraska</a></li>
                        <li><a href = '/electionresults/nv'>Nevada</a></li>
                        <li><a href = '/electionresults/nh'>New Hampshire</a></li>
                        <li><a href = '/electionresults/nj'>New Jersey</a></li>
                        <li><a href = '/electionresults/nm'>New Mexico</a></li>
                        <li><a href = '/electionresults/ny'>New York</a></li>
                        <li><a href = '/electionresults/nc'>North Carolina</a></li>
                        <li><a href = '/electionresults/nd'>North Dakota</a></li>
                        <li><a href = '/electionresults/oh'>Ohio</a></li>
                        <li><a href = '/electionresults/ok'>Oklahoma</a></li>
                        <li><a href = '/electionresults/or'>Oregon</a></li>
                        <li><a href = '/electionresults/md'>Maryland</a></li>
                        <li><a href = '/electionresults/ma'>Massachusetts</a></li>
                        <li><a href = '/electionresults/mi'>Michigan</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-4">
                    <ul class="multi-column-dropdown">
                          <li><a href = '/electionresults/mn'>Minnesota</a></li>
                          <li><a href = '/electionresults/ms'>Mississippi</a></li>
                          <li><a href = '/electionresults/mo'>Missouri</a></li>
                          <li><a href = '/electionresults/pa'>Pennsylvania</a></li>
                          <li><a href = '/electionresults/ri'>Rhode Island</a></li>
                          <li><a href = '/electionresults/sc'>South Carolina</a></li>
                          <li><a href = '/electionresults/sd'>South Dakota</a></li>
                          <li><a href = '/electionresults/tn'>Tennessee</a></li>
                          <li><a href = '/electionresults/tx'>Texas</a></li>
                          <li><a href = '/electionresults/ut'>Utah</a></li>
                          <li><a href = '/electionresults/vt'>Vermont</a></li>
                          <li><a href = '/electionresults/va'>Virginia</a></li>
                          <li><a href = '/electionresults/wa'>Washington</a></li>
                          <li><a href = '/electionresults/wv'>West Virginia</a></li>
                          <li><a href = '/electionresults/wi'>Wisconsin</a></li>
                          <li><a href = '/electionresults/wy'>Wyoming</a></li>
                    </ul>
                  </div>
                </div>
              </ul>
          </li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Texas Districts<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href = '/explore/district/3/34/'>Statewide</a></li>
              <li><a href = '/explore/district/2/'>Congress</a></li>
              <li><a href = '/explore/district/13/'>State Senate</a></li>
              <li><a href = '/explore/district/14/'>State House</a></li>
            </ul>
                  </div>
                </div>
              </ul>
          </li>
          </ul>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- Page Content -->
        <div class="content">
            <div class="container-fluid">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    {% block modals %}
    {% endblock %}

<!--JS SCRIPTS-->

    <script src = "{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src = "{% static 'js/bootstrap.min.js' %}"></script>
    <script src = "{% static 'js/bootstrap-checkbox-radio.js' %}"></script>
    <script src = "{% static 'js/chartist.min.js' %}"></script>
    <script src = "{% static 'js/bootstrap-notify.js' %}"></script>
    <script src = "{% static 'js/paper-dashboard.js' %}"></script>
    <script src = "{% static 'js/moment.js' %}"></script>
    <script src = "{% static 'js/main.js' %}"></script>
    <script src = "{% static 'js/d3.js' %}"></script> 

    {% block scripts %}
    {% endblock %}

</body>
</html>
