{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>TDP MGMT</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link href="{% static 'css/paper-dashboard.css' %}" rel="stylesheet"/>

    <link href="{% static 'css/main.css' %}" rel="stylesheet"/>

    <!-- leaflet stylesheet -->
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css"
    integrity="sha512-wcw6ts8Anuw10Mzh9Ytw4pylW8+NAD4ch3lqm9lzAsTxg0GFeJgoAtxuCLREZSC5lUXdVyo/7yfsqFjQ4S+aKw=="
    crossorigin=""/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{% static 'css/demo.css' %}" rel="stylesheet" />


    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/themify-icons.css' %}" rel="stylesheet">

    {% block css %}
    {% endblock %}

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">
    	<div class="sidebar-wrapper">
            <div class="logo">
                <div style="float:left;">
                    <image src="/static/img/pony.png" width="40px" height="40px" style="margin-right: 20px;"/>
                </div>
                <div style="margin-left: 10px;">
                    <span style="font-size:14px;">CLOUD</span><br/>
                    <span style="font-size:14px;">PONY 2</span>
                </div>
            </div>
            <ul class="nav">
                <li class='{% if request.resolver_match.url_name == "home" %}active{% endif %}'>
                    <a href="/">
                        <i class="ti-panel"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class='{% if request.resolver_match.url_name == "userprofile" %}active{% endif %}'>
                    <a href="/elections/explore">
                        <i class="ti-bar-chart"></i>
                        <p>Elections</p>
                    </a>
                </li>
                <li>
                <li class='{% if request.resolver_match.url_name == "people" %}active{% endif %}'>
                    <a href="/people/search/">
                        <i class="ti-user"></i>
                        <p>People</p>
                    </a>
                </li>
                <li class='{% if request.resolver_match.url_name == "chat" %}active{% endif %}'>
                    <a href="/chat">
                        <i class="ti-comment"></i>
                        <p>Chat</p>
                    </a>
                </li>
                <li class='{% if request.resolver_match.url_name == "userprofile" %}active{% endif %}'>
                    <a href="/profile/">
                        <i class="ti-user"></i>
                        <p>User Profile</p>
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        <p>Logout</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">{{ page_title }}</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                {% block content %}
                {% endblock %}
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-right">
                    <ul>
                        <li>
                            Texas Democratic Party
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>

    </div>
</div>

    {% block modals %}
    {% endblock %}


    <script src = "{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src = "{% static 'js/bootstrap.min.js' %}"></script>
    <script src = "{% static 'js/bootstrap-checkbox-radio.js' %}"></script>
    <script src = "{% static 'js/chartist.min.js' %}"></script>
    <script src = "{% static 'js/bootstrap-notify.js' %}"></script>
    <script src = "{% static 'js/paper-dashboard.js' %}"></script>
    <script src = "{% static 'js/moment.js' %}"></script>
    <script src = "{% static 'js/main.js' %}"></script>
    <script src = "{% static 'js/d3.js' %}"></script> 

    {% block scripts %}
    {% endblock %}

</body>
</html>
