
{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Some base CSS and elements from  TEMPLATED
http://templated.co

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<!-- <link href="{% static 'css/frontpage/second.css' %}" rel="stylesheet" type="text/css" media="all" /> -->
<link href="{% static 'css/frontpage/default.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/frontpage/hpfonts.css' %}" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
	<div id = 'header-cover'>
	<div id="header" class="container">
<!-- 		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="#" accesskey="1" title="">Homepage</a></li>
				<li><a href="#" accesskey="2" title="">Data Vis</a></li>
				<li><a href="#" accesskey="3" title="">About Us</a></li>
				<li><a href="#" accesskey="4" title="">Careers</a></li>
				<li><a href="#" accesskey="5" title="">Contact Us</a></li>
			</ul>
		</div> -->
		<div id="logo">
			<h1><a href="#">Morgan Hartley</a></h1>
			<span>I write code to help you sell.</span> </div>
	</div>
</div>
</div>
<div>
</div>
<div id="wrapper1">
	<div class="welcome container">
		<div class="title">
			<h2>What can I do for you?</h2>
			<span class="byline">Digital solutions for campaigns, fundraising, and media analytics</span> </div>
		<div class="content">
			<p>My work is driven by the idea that crowds have inflection points. The right timing, messaging, figureheads, and distribution system can come together to seed an idea in a crowd and make it spread. With experience in field organizing, management, fundraising, journalism, and big data tools like machine learning and d3.js, I can help your vision grow. What do you need people to believe?</p>
		</div>
	</div>
</div>
<div id="wrapper3">
	<div id="portfolio" class="container">
		<div class="title">
			<h2>Key Skills</h2>
 </div>
		<div class="pbox1">

			<div class="column1">
				<div class="box"> <span class="icon icon-signal"></span>
					<h3>Machine Learning</h3>
					<p>Sentiment Analysis and Classification problems with graphlab create and scikit-learn.</p>
				</div>
			</div>
		
			<div class="column2">
				<div class="box"> <span class="icon icon-cogs"></span>
					<h3>Data Backends</h3>
					<p>MySQL and Postgresql fluency. Experience with Redis.</p>
				</div>
			</div>
			<div class="column3">
				<div class="box"> <span class="icon icon-sitemap"></span>
					<h3>Location Based Softward</h3>
					<p>GIS-databases and mapping applications.</p>
				</div>
			</div>

		</div>
		<div class="pbox1">
			<div class="column1">
				<div class="box"> <span class="icon icon-eye-open"></span>
					<h3>Data Visualization</h3>
					<p>D3.js fluency, Canvas, Html5, CSS, and raw Javascript</p>
				</div>
			</div>
			<div class="column2">
				<div class="box"> <span class="icon icon-laptop"></span>
					<h3>Python</h3>
					<p>Fluency in Python, Django, and a host of associated packages.</p>
				</div>
			</div>
			<div class="column2">
				<div class="box"> <span class="icon icon-cloud"></span>
					<h3>Cloud Management</h3>
					<p>Data solutions and deployment on Google Cloud and EC2.</p>
				</div>
			</div>
	</div>
	<div class="pbox1">
				<div class="column1">
				<div class="box"> <span class="icon icon-comments"></span>
					<h3>Languages</h3>
					<p>French, Spanish, and English spoken in native accents.</p>
				</div>
			</div>
		<div class="column2">
				<div class="box"> <span class="icon icon-bullhorn"></span>
					<h3>Campaigns</h3>
					<p>Years of experience running campaigns online and on the ground.</p>
				</div>
			</div>

			<div class="column3">
				<div class="box"> <span class="icon icon-money"></span>
					<h3>Fundraising</h3>
					<p>Proven at building networks and campaigns that raise money. </p>
				</div>
			</div>
</div>
	</div>
</div>
<div id="wrapper1">
	<div class="welcome container">
		<div class="title">
			<h2>Why you should hire me.</h2>
			<span class="byline">A unique combination of interpersonal skills and digital acumen.</span> </div>
		<div class="content">
			<p>My years in politics and fundraising have given me the crucial skills I need to rapidly build networks, develop sales pitches, identify influencers, and make repeated successful asks. As my digital skills have come into maturity, I've been able to combine the skills to offer my clients a powerful combination of effective messaging, support from key players, and sophisticated online messaging.</p>
			<p style = 'font-weight:bold;'>The results are clear -- I win my races.</p>
						<div><a href="https://www.linkedin.com/in/morganhartley/" class="button">Resume</a><a href="/electionresults/ca" class="button">Work Samples</a></div>
	</div>
</div>



<div id="wrapper2">
  <section id="two" class="wrapper style2 alt">
  <div class="inner">
       <div class="spotlight">
           <div class="image">
        <img src="{% static 'img/frontpageimages/work/txcapitol.jpg' %}" alt="" />
      </div>
      <div class="content">
        <h3>Texas Democratic Party&ensp;<span style = 'font-weight:200;'>Digital Specialist<span></h4>
            <p>Mar 2017 - </p>
            <p>I work under the data director to develop tools that will help Democrats visualize their districts. This began with rebuilding their precinct and state level elections databases. We a built a series of web-based tools using python (django) and d3.js for visualizing comparisons of fundraising, turnout, and demographic factors in districts. We're currently applying machine learning techniques to improve conversion rate on fundraising calls and identify new demographics with high fundraising ROI. </p>
          </div>
        </div>
            <div class="spotlight">
           <div class="image">
        <img src="{% static 'img/frontpageimages/work/no69.jpg'  %}" alt="" />
      </div>
      <div class="content">
        <h3>No on Amendment 69&ensp;<span style = 'font-weight:200;'>Digital Specialist<span></h4>
            <p>Feb - Nov 2017</p>
            <p>I worked to coordinate outreach with interest and community groups across the state. I was also the chief surrogate for debates and town halls outside of Denver, regularly debating the elected officials that supported a yes vote on the amendment.</p>

            <p>I also played a key role in the organization's expansive digital program, including building the voter databases from which we drew targeting, developing digital assets, and maintaining the website's front end code.</p>

            <p>Ultimately our campaign was incredibly successful, and we overshot our win targets by a huge margin. We won 80-20.</p>

            </div>
        </div>
<!-- 
            <button type="button" class="btn btn-outline-secondary"> <a href = 'www.coloradansforcoloradans.com'>Website</a></button>
          </div>
        </div> -->
            <div class="spotlight">
           <div class="image">
        <img src="{% static 'img/frontpageimages/work/rollkroll.png'  %}" alt="" />
      </div>
      <div class="content">
        <h3>Jack Kroll for Colorado&ensp;<span style = 'font-weight:200;'>Campaign Manager</span></h3>
            <p>Jan - May 2017</p>
            <p>This was a lean operation, which I ran part time. The candidate, who was young and had a low name-ID, and I used a very aggressive town hall and field strategy to raise awareness of his name and platform. This included a sophisticated targeting system we built to contact high propensity voters in advance of the caucus and county assemblies.</p>
<p>It was ultimately successful, and we pulled off an incredible underdog win in the May primary. He was uncontested in the general election.</p>
          </div>
        </div>

            <div class="spotlight">
           <div class="image">
        <img src="{% static 'img/frontpageimages/work/aliwin.jpg'  %}" alt="" />
      </div>
      <div class="content">
        <h3>Ali Lasell for Jeffco Schools&ensp;<span style = 'font-weight:200;'>Campaign Manager</span></h3>
            <p>Feb - Nov 2015</p>
            <p>I managed consultants and developed strategy for Ali's race for Jefferson Country School board--an electorate the size of a congressional district. I was instrumental in brokering the 'clean slate', the alliance of five candidates that swept the election and overtook the school board. We broke the fundraising record for this seat with a mixture of traditional shoe-leather politics and digital outreach.</p>
            <p>In a historic election that was seen as a referendum on school policy for the country, we won by 15 points.</p>
          </div>
        </div>

          <div class="spotlight">
           <div class="image">
        <img src="{% static 'img/frontpageimages/work/p1.jpg'  %}" alt="" />
      </div>
      <div class="content">
        <h3>Postulate One&ensp;<span style = 'font-weight:200;'>Rider and Writer</span></h3>
            <p>Feb - Nov 2015</p>
            <p>Cycled 16,000 miles between Paris and Shanghai. Learned the art of blogging, journalism, and storytelling as I published more than 125 articles over the course of 20 months on our blogs, and in publications like The Atlantic, NPR, and The Huffington Post. 
</p>
            <p>In a historic election that was seen as a referendum on school policy for the country, we won by 15 points.</p>
          </div>
        </div>

</section>
</div>

<div id="copyright">
	<div class="title">
		<h2>Get in touch</h2>
		<span class="byline"></span> </div>
	<ul class="contact">
		<li><a href="https://www.linkedin.com/in/morganhartley/" class="icon icon-linkedin"><span></span></a></li>
		<li><a href="https://bitbucket.org/mhpol" class="icon icon-github"><span></span></a></li>
	</ul>
</div>
</body>
</html>
