{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>TDP MGMT</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link href="{% static 'css/paper-dashboard.css' %}" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{% static 'css/demo.css' %}" rel="stylesheet" />

    <link href="{% static 'css/main.css' %}" rel="stylesheet" />


    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/themify-icons.css' %}" rel="stylesheet">

    {% block css %}
    {% endblock %}

</head>
<body>

    <div class="wrapper">
        <div class="content">
            <div class="container-fluid">
                {% block content %}
                <h3 style="text-align:center;color:white;">TDP Data Management</h3>
                <div class="container creds">
                    <form method="post" action="{% url 'login' %}" autocomplete="off">
                        {% csrf_token %}
                        <p class="bs-component">
                            <table style="margin-left: 20%; margin-right: 20%; width:60%">
                                <tr>
                                    <td class="text-align:center">
                                        <h1>TDP Data Management</h1>
                                    </td>
                                </tr>
                            </table>
                            <table style="margin-left: 20%; margin-right: 20%; width:60%">
                                <tr>
                                    <td>{{ form.username.label_tag }}</td>
                                    <td>{{ form.username }}</td>
                                </tr>
                                <tr>
                                    <td style="height:10px">
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ form.password.label_tag }}</td>
                                    <td>{{ form.password }}</td>
                                </tr>
                            </table>
                        </p>
                        <p class="bs-component">
                            <center>
                                <input class="btn btn-success btn-sm" type="submit" value="login" />
                            </center>
                        </p>
                        <input type="hidden" name="next" value="{{ next }}" />
                    </form>
                </div>
                {% endblock %}
            </div>
        </div>
    </div>


</body>

    <script src = "{% static 'js/jquery-1.10.2.js' %}"></script>
    <script src = "{% static 'js/bootstrap.min.js' %}"></script>
    <script src = "{% static 'js/bootstrap-checkbox-radio.js' %}"></script>
    <script src = "{% static 'js/paper-dashboard.js' %}"></script>
    <script src = "{% static 'js/demo.js' %}"></script>
<!--
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
-->
    {% block scripts %}
    {% endblock %}


    <script type="text/javascript">
        $(document).ready(function(){

            // demo.initChartist();

            // $.notify({
         //     icon: 'ti-gift',
         //     message: "Welcome to <b>Paper Dashboard</b> - a beautiful Bootstrap freebie for your next project."

         //    },{
         //        type: 'success',
         //        timer: 4000
         //    });




        });
    </script>

</html>






